.demand-notes-backdrop {
  background: rgba($color: #000000, $alpha: 0.5);
  height: 100vh;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
}

// Popover content
::ng-deep .popover-wrapper {
  .arrow {
    display: none;
  }

  .popover-body {
    border-radius: 4px;
    color: #121212;
    overflow: auto;
    padding: 0px;

    button {
      align-items: center;
      background: #fff;
      border: none;
      color: #121212;
      display: flex;
      font-family: "Graphik";
      font-size: 12px;
      height: 28px;
      outline: none;
      padding: 0px 16px;
      width: 86px;

      &:hover {
        background: #ecf0ff;
      }
    }
  }
}

.demand-notes {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  font-family: "Graphik";
  padding: 40px 20px;
  position: relative;

  button {
    border: none;
    outline: none;
  }

  // Header
  &__header {
    h3 {
      color: #121212;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      margin: 0px 0px 10px;
    }

    h4 {
      color: #616568;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      margin: 0px;
    }

    button {
      background: none;
      color: #121212;
      display: flex;
      font-size: 20px;
      padding: 0px;
      position: absolute;
      right: 15px;
      top: 15px;

      &:hover {
        color: #284ce0;
      }
    }
  }

  // Body
  &__body {
    display: grid;
    gap: 24px;
    margin-top: 24px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;

    .note-wrapper {
      p {
        color: #616568;
        margin: 0px;
      }

      &__header {
        align-items: center;
        display: flex;
        gap: 8px;
        position: relative;

        p {
          font-size: 12px;
          line-height: 12px;

          &.header {
            font-weight: 500;
          }
        }

        i {
          color: #616568;
          font-size: 12px;
        }

        .open-menu-cta {
          background: none;
          border: none;
          display: flex;
          outline: none;
          padding: 0px;
        }
      }

      &__content {
        margin-top: 10px;

        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  // Input
  &__input {
    margin-bottom: 10px;
    margin-top: 24px;
    transition: all 0.2s ease-in-out;
    width: 100%;

    &.edit-mode {
      margin-bottom: 5px;
      margin-top: 10px;
    }

    textarea {
      border: 1px solid #e0e4e8;
      border-radius: 2px;
      color: #121212;
      font-size: 14px;
      height: 64px;
      line-height: 20px;
      outline: none;
      padding: 10px;
      resize: none;
      transition: all 0.1s ease-in-out;
      width: 100%;

      &:focus {
        border-color: #284ce0;
        box-shadow: 0px 0px 4px #7597ff;
      }
    }
  }

  // Footer
  &__footer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;

    button {
      align-items: center;
      border-radius: 4px;
      display: flex;
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      padding: 0px 24px;

      &.primary {
        background: #284ce0;
        color: #fff;
      }

      &.secondary {
        background: #fff;
        border: 1px solid #284ce0 !important;
        color: #284ce0;
      }

      &:disabled {
        background: #c2c9d1;
        cursor: default;
      }
    }
  }
}