.searchbar__input {
    margin-right: 10px;
    max-width: 100%;
    margin-left: -2px;
    min-width: 200px;
    width: 100%;
    background-color: #fff;
    outline: none;
    display: flex;
    //border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
}

