// Resource Gantt
.resource-gantt-wrapper {
  border: 1px solid #c2c9d1;
  box-sizing: border-box;
  height: calc(100vh - 162px);
  margin: 0px auto;
  max-width: 2560px;
  overflow-x: auto;

  tbody {
    border-bottom: 1px solid #c2c9d1;
  }

  //   Table Wrapper
  .gantt-table-wrapper {
    width: 100%;

    thead {
      position: sticky;
      top: 0px;
      z-index: 15;
    }

    .gantt-body-row {
      max-height: 9999px;
      // overflow: hidden;
      transition: all 0.2s ease-in-out;

      &.collapsed {
        display: flex;
        max-height: 32px;
        width: 100%;

        tbody {
          display: none;

          &:first-of-type {
            display: table-row-group;
            width: 100%;
          }
        }
      }
    }
  }
}

// Load More Wrapper
// .load-more-wrapper {
//   // border: 2px dashed red;
//   height: 50px;
//   width: 100%;

//   // Button
//   .load-more-cta {
//     background-color: transparent;
//     border: 1px solid #616568;
//     border-radius: 4px;
//     color: #616568;
//     font-family: "Graphik", sans-serif;
//     font-size: 12px;
//     font-weight: 500;
//     height: 32px;
//     text-transform: capitalize;
//     width: 120px;
//   }
// }
