<div id="share-placeholder-popup" ngDraggable>
    <div id="share-placeholder-header" class="modal-header">
        <h5 class="modal-title">
            {{modalHeaderText}}
        </h5>
        <button type="button" class="close" (click)="closeDialogHandler()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body mb-3">
        <!-- Component: Office Multiselect Dropdown -->
        <div id="share-placeholder-office-filter" class="form-row mb-3">
            <div class="col-2">
                <label for="field-resource">Offices</label>
            </div>
            <div class="col-6">
                <app-office-dropdown [maxHeight]="officeDropdownMaxHeight" [officeHierarchy]="officeHierarchy"
                    [selectedOfficeList]="selectedOfficeList" [title]="'Offices'"
                    (refreshView)="updateSelectedOfficeList($event)">
                </app-office-dropdown>
            </div>
        </div>
        <!-- End Component: Office Multiselect Dropdown -->

        <!-- Component: Staffing Tags Multiselect Dropdown -->
        <div id="share-placeholder-staffing-tags" class="form-row mb-3">
            <div class="col-2">
                <label for="field-resource">Staffing Tags</label>
            </div>
            <div class="col-6">
                <app-multi-select-dropdown [maxHeight]="staffingTagsDropdownMaxHeight" [title]="'Staffing Tags'"
                    [dropdownList]="staffingTagDropdownList" [selectedItems]="selectedStaffingTagList"
                    (refreshView)="updateSelectedStaffingTagList($event)">
                </app-multi-select-dropdown>
            </div>
        </div>
        <!-- End Component: Staffing Tags Multiselect Dropdown -->

        <div id="share-placeholder-project-tag" class="form-row mb-3">
            <span *ngIf="errorMessage" class="text-danger">
                Error: {{errorMessage}}
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button id="share-placeholder-cancel" type="button" class="btn btn-sm btn-secondary"
            (click)="closeDialogHandler()">
            Cancel
        </button>
        <button id="btn-share-placeholder" type="button" class="btn btn-sm btn-primary" (click)="sharePlaceholder()">
            Share
        </button>
    </div>

</div>