<div ngDraggable>
    <div class="modal-header">
        <h5 class="modal-title">
            {{modalHeaderText}}
        </h5>
        <button type="button" class="close" (click)="closeDialogHandler()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body mb-3">
        <div class="col-9 duration">
            <label><strong class="duration-label">Duration (In weeks): </strong></label>
            <shared-increment-decrement-buttons [selectedValue]="durationInWeeks" [minValue]="1"
              [maxValue]="52" (valueChanged)="setIntervalThreshold($event)">
            </shared-increment-decrement-buttons>            
          </div>
        <app-html-grid *ngIf="!isUpcomingCommitmentsLoading" [tableData]="commitments"
            [tableDef]="htmlTableDef" [gridTitle]="'Upcoming Commitments'"></app-html-grid>
        <div *ngIf="isUpcomingCommitmentsLoading">
            <span>Loading...</span>
        </div>
    </div>
</div>