.add-new-role-section {
    display: flex;
    margin-top: 2%;
}

.effective-dt-picker {
    width: 24%;
    display: inline-flex;
}

.add-new-role-ddl {
    width: 32%;
    margin-left: 7%;
}

.active-role-icon {
    padding: 5px 0 0 5px;
    color: #8b0000;
    position: absolute;
}

.new-role-trash-icon {
    padding: 5px 0 0 5px;
    color: #8b0000;
    cursor: pointer;
}

.invalid-effective-date {
    border: 1px solid red;
}

.flag-trash {
    cursor: pointer;
}

.flag-trash:hover .fa-flag,
.flag-trash .fa-trash-alt {
    display: none;
}
.flag-trash:hover .fa-trash-alt {
    display: inline;
}
  
::ng-deep{
    &.calendar-align-right {
        left: 30%;
    }
}
