<div *ngIf="!isLoading">
  <div class="about row">
    <div class="col-6" *appFeaturesAccess="accessibleFeatures.staffableAs">
      <app-employee-staffable-as-list [staffableAsRoles]="staffableAsRoles" [staffableAsTypes]="staffableAsTypes"
        (removeStaffableAsRoleEventEmitter)="removeStaffableAsRoleEventEmitterHandler($event)"
        (upsertStaffableAsRoleEventEmitter)="upsertStaffableAsRoleEventEmitterHandler($event)"></app-employee-staffable-as-list>
    </div>
    <div class="col-6">
      <app-employee-language [languages]="languages"></app-employee-language>
    </div>
    <div class="col-6" *appFeaturesAccess="accessibleFeatures.levelGradeHistory">
      <app-employee-level-grade-changes [levelGradeHistoryData]="levelGradeHistoryData">
      </app-employee-level-grade-changes>
    </div>
    <div class="col-6" >
      <!-- *ngIf="tranferData?.length"> -->
        <app-employee-transfer [tranferData]="tranferData"></app-employee-transfer>
      </div>
  </div>
  <div class="about row">
    <div class="col-6">
      <app-employee-certificate [certificates]="certificates"></app-employee-certificate>
    </div>
  </div>
  <div class="about row">
    <div class="col-12">
      <app-employee-school-history [employeeSchoolHistory]="employeeSchoolHistory"></app-employee-school-history>
    </div>
  </div>
  <div class="about row">
    <div class="col-12">
      <app-employee-work-history [employeeWorkHistory]="employeeWorkHistory"></app-employee-work-history>
    </div>
  </div>
</div>
<div *ngIf="isLoading">
  <span>Loading....</span>
</div>
