.incremental-input{
  display: inline-flex;
  button{
    background-color: $grey-lighter;
    color: $black;
    //font-size: 22px;
    font-weight: bold;

    &:hover{
      background-color: $grey-light;
    }

  }
  input{
    display: inline-block;
    text-align: center;
    width: 50px!important;
    flex: 0;
    border-color: $grey-light;
  }
}