.inline-editable{
  position: relative;
  left:-3px;
  padding-left: 3px;
  cursor: pointer;
  &:not(.inline-editable-textarea){
    max-height: 24px;
  }
    
  .edit-icon{
    display: none;
    position: absolute;
    right:5px;
    top:50%;
    transform: translateY(-50%);
    font-size: 14px;        
  }

  &.inline-editable-textarea{
    .edit-icon{
      top:12px;
    }

    label{
      padding-right:15px;
    }
  }  

  label{
    padding:0;
    margin:0;
    cursor: pointer;
  }
  
  input, textarea{
    display: none;
    border:none;
    padding:0 3px;
    margin-top:-1px;
    margin-left:-4px;
    max-width: 100%;
    box-shadow: 3px 3px 5px rgba(161, 161, 161, 0.87843137254902);
    &:focus{
      outline:none;
    }
  }

  input.test{
    display: block !important;
  }

  textarea{
    height:150px;
  }

  &:not(.active):hover{
    outline:1px solid #000;

    .edit-icon{
      display: block;
    }

    &.inline-editable-textarea{
      padding-right:15px;
      max-height: 150px;
      overflow: hidden;      
    }  
  }  

  &.active.inline-editable-text{      
    input{
      display: block;
      border-top:1px solid $grey-medium;
      border-left:1px solid $grey-medium;      
      border-left:1px solid transparent;
    }    
    label{
      display: none;
    }
  }

  &.active.inline-editable-textarea{        
    textarea{
      display: block;
      border-top:1px solid $grey-medium;
      border-left:1px solid $grey-medium;      
      border-left:1px solid transparent;
    }    
    label{
      display: none;
    }
  }
}

td.inline-editable{
  left:0;
  outline-offset: -2px;
  padding-right:1px;

  .edit-icon{
    right:10px;
    margin-top:-1px;
  }

  input{
    position: absolute;
    top:0;
    bottom:0;
    left:4px;
    right:0;
    max-height: unset;
    padding-left:10px;
  }

  &.active.inline-editable-text {
    label {
      visibility: hidden;
      display: block !important;
    }
  }
}

td.inline-dropdown{
  .form-control{
    height: 100%;
  }
}
