@use 'sass:math';

.navbar {
  padding: 0;
  height: $header-height;
  border-bottom: 3px solid $grey-extra-light;

  .navbar-brand {
    font-size: $brand-font-size;
    width: $sidebar-width;
    padding: 0 $base-padding;
    margin-right: $base-padding;

    a {
      @include color-fade;
      color: $text-regular;

      &:hover {
        color: $bain-red;
        text-decoration: none;
      }
    }

    img {
      width: $logo-width;
      height: $logo-height;
      margin-right: $spacer;
      transform: translateY(-1px);
    }
  }

  .nav-item {
    a.nav-link {
      @include color-fade;
      position: relative;
      z-index: 2;
      font-size: $nav-item-font-size;
      color: $text-regular;
      padding-left: 0;
      padding-right: 0;
      margin-right: $spacer * 3;
      white-space: nowrap;

      &:hover {
        color: $bain-red;
      }

      &:focus {
        outline: none;
      }

      &:after {
        content: "";
        display: none;
        position: absolute;
        bottom: -12px;
        width: 100%;
        height: 3px;
        background-color: $bain-red;
      }
    }

    &.active a.nav-link {
      color: $bain-red;

      &:after {
        display: block;
      }
    }
  }

  .profile-nav {
    .notifications-badge-container {
      position: relative;
      top: 4px;

      .fa-bell {
        color: $grey-alt-1;
        font-size: 24px;
      }

      .badge {
        position: absolute;
        left: 50%;
        top: -50%;
        margin-top: 5px;
        background-color: $bain-red;
        border-radius: 10px;
        color: $white;
        font-size: 13px;
        width: auto;
        height: 18px;
      }
    }

    .feedback-comments-container {
      position: relative;
      top: 7px;

      .fa-comments {
        color: $grey-alt-1;
        font-size: 24px;
      }
    }

    img {
      @extend .mr-2;
      width: 38px;
      height: 38px;
      border: 1px solid $grey-light;
      border-radius: 50%;
      object-fit: cover;
      object-position: 50% 25%;
    }

    a.nav-link {
      font-size: 14px;
      margin-right: $spacer * 2;
      cursor: pointer;
      color: $text-dark
    }
  }

  .popover {
    position: fixed;
    left: 83% !important;
    top: 0px !important;
    transform: translate3d(0px, 55px, 0px) !important;

    .popover-body {
      padding: 0rem;
    }

    .arrow {
      left: 90% !important;
    }
  }
}

.profile-popover {
  //margin-top: 12px;
  //margin-right: 18px;

  .popover-header {
    background-color: $white;
    padding: 0.5rem 1.75rem;

    img.profile-pic {
      width: 64px;
      height: 64px;
      border: 1px solid $grey-light;
      border-radius: 50%;
    }

    div {
      color: $text-dark;
      font-size: 16px;
    }

    a {
      color: $grey-alt-3;
      font-size: 14px;
    }
  }

  .popover-body {
    padding: 0.5rem 0rem;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: block;

        &:hover {
          background-color: $grey-extra-light;

          a {
            color: $bain-red !important;
          }
        }

        a {
          display: block;
          padding: math.div($base-padding, 2);
          color: $grey-darkest;

          &.logout {
            color: $grey-light;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

#analyticsNav {
  .nav-item {
    .popover {
      position: fixed;
      top: 28px !important;
      transform: translate3d(0px, 55px, 0px) !important;

      .arrow {
        left: 10% !important;
      }

      &.weeklyDeploymentIndividualResourceDetails {
        left: 8% !important;
      }

      &.monthlyDeployment {
        left: 21% !important;
      }

      &.staffingAllocation {
        left: 35% !important;
      }

      &.ADGroupReportAccess {
        left: 1% !important;
      }

      &.ADGroupReportFinanceAccess {
        left: 26% !important
      }

      &.ADGroupReportFinancePracticeAccess {
        left: 37% !important
      }

      &.ADGroupReportStaffingAllocationAccess {
        left: 15% !important
      }

      &.ADGroupReportStaffingAllocationPracticeAccess {
        left: 26% !important
      }

      &.ADGroupReportWeeklyDeploymentAccess {
        left: 1% !important;

      }

      &.ADGroupReportMonthlyDeploymentPracticeAccess {
        left: 15% !important;

      }

      &.audits {
        left: 59% !important;
      }

      &.finance {
        left: 66% !important;
      }
    }
  }
}
