#teams {
  position: fixed;
  top: calc(#{$header-height} + 2px);
  bottom: 0;
  left: 100vw;
  width: 1175px;
  transition: left .5s;
  z-index: 6;
  background-color: $white;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  padding: $base-padding;

  &.active {
    left: calc(100% - 1175px);
    ;
  }

  .mt-22 {
    margin-top: 22px;
  }

  .pt-7 {
    padding-top: 7px;
  }

  .teamlogo {
    height: 80px;
    margin-bottom: 26px;

    .imagelogo {
      height: 75px;
    }

    .team-icons {
      display: flex;
      flex-direction: row;

      li {
        list-style-type: none;
        width: 40px;
      }
    }
  }

  .newteam {
    min-height: 500px;

    .name {
      padding-left: 40px;

      .warning {
        position: absolute;
        left: 19px;
        top: 45%;
        font-size: 12px;
        transform: translateY(-50%);
        color: #D7D7D7;
        cursor: pointer;
        transition: color .3s;
      }
    }

    .name:before {
      content: "\f58e";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 10px;
      color: #D7D7D7;
      position: absolute;
      left: 7px;
      top: 50%;
      transform: translateY(-50%);
    }

    header {
      border-left-color: #CC0000;
    }

    .teams-container-header {
      color: #999999;

      // h2{
      //   font-size:26px;
      // }
      .col-2 {
        padding-top: 4px;
      }
    }
  }

  .notes-content {
    min-height: 175px;

    header {
      padding-left: 2px;
    }

    button {
      font-size: 12px;
      border-radius: 3px;
    }

    .notes-header {
      .col-10 {
        color: #999999;
      }

      button {
        color: #707070;
        background-color: #E5E4E5;
        width: 79px;
        height: 29px;
        margin-top: 4px;
      }
    }

    .notes-btn {
      border-top: 1px solid #E4E4E4;

      button {
        float: right;
        width: 59px;
        height: 26px;
        margin-top: 10px;
        color: #cc0000;
        border: 1px solid #CC0000;
        background-color: #FFF;
      }

      button:hover {
        background-color: #CC0000;
        color: #FFF;
      }
    }
  }

  .mat-tab-label {
    color: #707070;

    .mat-tab-label-content {
      font-size: 18px;
    }
  }

  .mat-tab-body-wrapper {
    top: 10px;
    left: 10px;

    .mat-tab-body-content {
      color: #707070;
      font-size: $small-font-size;

      .no-gutters {
        padding-bottom: 10px;
      }
    }
  }

  .side-content {
    min-height: 720px;
  }

  .body-content {
    transition: height linear .4s;
    overflow: auto;
    border-top: 1px solid #E4E4E4;
    background-color: #FFF;
    font-size: 14px;
    padding-top: 12px;

    .no-gutters {
      padding-bottom: 6px;
    }
  }


  .company-history {
    display: block;
    margin-left: 28px;
  }

  .checkboxIcon {
    margin-right: 14px;
  }

  .list-group-item {
    @include staff-group-item; //this mixin is inside common.scss
  }

}
