<div class="modal-header">
    <h5 class="modal-title">Practice base Ringfences</h5>
    <button type="button" class="close" (click)="closeForm()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="admin-add-columns">
        <div class="form-row col-6">
            <label for="adminResource"><b>Ringfence Practice Area</b></label>
            <div class="col-12" id="dropdown">
            <app-single-select-dropdown
                [dropdownList]="practiceAreaDropDownList" 
                [title]="'Practice Area'" 
                (valueChange)="setSelectedPracticeAreaList($event)">
            </app-single-select-dropdown>
            </div>
        </div>
        <div class="form-row col-6">
            <label for="adminResource"><b>Ringfence Abbreviation</b></label>
            <div class="col-12">
                <input readonly type="text" id="ringfenceName" class="form-control form-control-sm" autocomplete="off"
                [(ngModel)]= "selectedPracticeBaseRinfence.practiceAreaAbbreviation">
            </div>
        </div>
    </div>
    <br>
    
    <div class="checkbox-wrapper mb-5 mt-2">
        <label class="container"><b>Select the Regions : </b></label>

        <span class="container">
            <input type="checkbox" [(ngModel)]="selectedPracticeBaseRinfence.allowsStaffingInAmericas"/>
            <span class="checkmark"></span>
            Americas   
        </span>
        <span class="container">
            <input type="checkbox" [(ngModel)]="selectedPracticeBaseRinfence.allowsStaffingInEMEA"/>
            <span class="checkmark"></span>
            EMEA
        </span>
        <span class="container">
            <input type="checkbox" [(ngModel)]="selectedPracticeBaseRinfence.allowsStaffingInAPAC"/>
            <span class="checkmark"></span>
            APAC
        </span>
    </div> 

</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-secondary" (click)="closeForm()">Cancel</button>
    <button class="btn btn-sm btn-primary" (click)="onSaveClick()">Save</button>
</div>
