<form class="form-inline search-form">
  <!-- Search Box -->
  <div id="demandProjectSearch" class="input-group mr-3">
    <input type="text" id="projectSearchInput" [(ngModel)]="asyncProjectString" [ngModelOptions]="{standalone:true}"
           autocomplete="off" [typeahead]="projects" [typeaheadItemTemplate]="customProjectTypeAheadTemplate"
           typeaheadOptionField="projectName" [typeaheadOptionsLimit]="100" [typeaheadMinLength]="3"
           (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeaheadScrollable]="true"
           [typeaheadOptionsInScrollableView]="10" (focus)="projectSearchInputFocus = true"
           (blur)="projectSearchInputFocus = false; null" class="form-control border-right-0"
           placeholder="Search Case/Opps..." typeaheadGroupField="projectStatus">
    <div class="input-group-append" [class.input-group-append-focus]="projectSearchInputFocus">
      <span class="input-group-text search-icon-width">
        <i *ngIf="asyncProjectString.length < 3" class="fa fa-search fa-fw"></i>
        <i *ngIf="asyncProjectString.length > 2" class="fa fa-times" (click)="clearSearchBox()"></i>
      </span>
    </div>
  </div>
  <!-- End Search Box -->
  <!-- Component: Office Dropdown -->
  <div class="dropdown mr-3" id="demandOfficeFilter">
    <app-office-dropdown [officeHierarchy]="officeHierarchy" [selectedOfficeList]="selectedOfficeList"
                         [title]="'Offices'" (refreshView)=getProjectsBySelectedOffice($event)>
    </app-office-dropdown>
  </div>
  <!-- End Component: Office Dropdown -->
  <!-- Component: Case Type Dropdown -->
  <div class="dropdown mr-3" id="demandCaseTypeFilter">
    <app-multi-select-dropdown [dropdownList]="caseTypeDropdownList" [selectedItems]="selectedCaseTypeList"
                               [title]="'Case Types'" (refreshView)=getProjectsBySelectedCaseTypes($event)>
    </app-multi-select-dropdown>
  </div>
  <!-- End Component: Case Type Dropdown -->
  <!-- Demand Status Dropdown -->
  <div class="dropdown mr-3" id="demandTypeFilter">
    <app-multi-select-dropdown [dropdownList]="demandTypeList" [selectedItems]="selectedDemandTypeList"
                               [title]="'Demand Status'" (refreshView)="getProjectsByDemandTypes($event)">
    </app-multi-select-dropdown>
  </div>
  <!-- End Demand Status Dropdown -->
  <!-- Date Picker -->
  <div id="demandDateRangePicker" class="input-group mr-3 calendar">
    <div class="input-group-prepend">
      <button type="button" id="btnDateShiftLeft" class="btn btn-secondary" (click)="shiftDateRange('left')">
        <i class="fa fa-chevron-left fa-fw"></i>
      </button>
    </div>

    <div class="input-group-prepend">
      <span class="input-group-text" id="date-picker-icon" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
        <i class="fa fa-calendar-alt ngx-daterangepicker-action fa-fw" aria-hidden="true"></i>
      </span>
    </div>

    <input type="text" id="date-range-calendar" name="daterange" readonly [ngModel]="selectedDateRange"
           (ngModelChange)="getProjectsforSelectedDateRange($event)" class="form-control" #dp="bsDaterangepicker"
           bsDaterangepicker [bsConfig]="bsConfig">

    <div class="input-group-append">
      <button type="button" id="btnDateShiftRight" class="btn btn-secondary" (click)="shiftDateRange('right')">
        <i class="fa fa-chevron-right fa-fw"></i>
      </button>
    </div>
  </div>
  <!-- End Date Picker -->
  <!-- Advanced Filter -->
  <div class="add-placeholder-icon mr-1" (click)="addPlanningCard()" *ngIf="showPlanningCardsButton" style="cursor: pointer;">
    <svg width="3.25rem" height="3.25rem" viewBox="0 0 64 50" fill="none">
      <g filter="url(#filter0_d)">
      <rect x="5.5" y="3.5" width="53" height="39" rx="5.5" fill="white" stroke="#DADADA"/>
      <path d="M22.9529 30.3117C24.7725 30.3117 26.231 28.1768 26.231 26.2759C26.231 24.3751 24.7558 22.834 22.9361 22.834C21.1164 22.834 19.6411 24.3751 19.6411 26.2759C19.6413 28.1768 21.1332 30.3117 22.9529 30.3117Z" fill="#666666"/>
      <path d="M24.1718 31.8334H21.7214C19.1139 31.8334 17 34.0173 17 36.7115L17.0113 37.2884C17.0113 38.041 17.6018 38.6513 18.3305 38.6513H27.5853C28.3139 38.6513 28.9046 38.041 28.9046 37.2884L28.8933 36.7115C28.8931 34.0173 26.7795 31.8334 24.1718 31.8334Z" fill="#666666"/>
      <path d="M41.8572 30.3117C43.6768 30.3117 45.1353 28.1768 45.1353 26.2759C45.1353 24.3751 43.66 22.834 41.8404 22.834C40.0207 22.834 38.5454 24.3751 38.5454 26.2759C38.5456 28.1768 40.0375 30.3117 41.8572 30.3117Z" fill="#666666"/>
      <path d="M43.0761 31.8334H40.6257C38.0182 31.8334 35.9043 34.0173 35.9043 36.7115L35.9156 37.2884C35.9156 38.041 36.5061 38.6513 37.2348 38.6513H46.4896C47.2182 38.6513 47.8089 38.041 47.8089 37.2884L47.7976 36.7115C47.7974 34.0173 45.6838 31.8334 43.0761 31.8334Z" fill="#666666"/>
      <line x1="12.75" y1="10.4552" x2="36.25" y2="10.4552" stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <line x1="12.75" y1="16.609" x2="33.25" y2="16.609" stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M43.903 15.6752H45.377V15.4002C45.443 14.8172 46.004 14.3662 46.532 13.8602C47.005 13.3982 47.434 12.8922 47.434 12.1332C47.434 10.9672 46.609 10.1532 44.992 10.1532C43.43 10.1532 42.341 11.0552 42.275 12.5842H43.804C43.881 11.8912 44.288 11.4512 44.893 11.4512C45.476 11.4512 45.74 11.7592 45.74 12.2652C45.74 12.7052 45.388 13.0572 44.992 13.4422C44.475 13.9482 43.903 14.4872 43.903 15.3452V15.6752ZM44.629 18.2272C45.179 18.2272 45.63 17.8092 45.63 17.2812C45.63 16.7422 45.179 16.3242 44.629 16.3242C44.068 16.3242 43.617 16.7422 43.617 17.2812C43.617 17.8092 44.068 18.2272 44.629 18.2272Z" fill="#666666"/>
      </g>
      <defs>
      <filter id="filter0_d" x="0" y="0" width="64" height="50" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
      <feOffset dy="2"/>
      <feGaussianBlur stdDeviation="2.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
      </filter>
      </defs>
    </svg>      
  </div>

  <div id="demandFilterIcon" class="filter-icon mr-1" (click)="toggleAdvancedFiltersHandler()" style="cursor: pointer;">
    <svg width="2.5rem" height="3.25rem" viewBox="0 0 49 49" fill="none">
      <g filter="url(#filter0_d)">
      <rect x="5" y="3" width="39" height="39" rx="5" fill="white"/>
      <rect x="5.5" y="3.5" width="38" height="38" rx="4.5" stroke="#DADADA"/>
      </g>
      <path d="M38.25 11H10.75L21.75 23.6133V32.3333L27.25 35V23.6133L38.25 11Z" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <defs>
      <filter id="filter0_d" x="0" y="0" width="49" height="49" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
      <feOffset dy="2"/>
      <feGaussianBlur stdDeviation="2.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
      </filter>
      </defs>
    </svg>            
  </div>
  <!-- <button type="button" id="projectFilterIcon" class="btn btn-secondary color border-0 filter"
          [class.active]="showAdvancedFilters" (click)="toggleAdvancedFiltersHandler()">
  </button> -->
  <!-- End Advanced Filter -->

  <div id="casedropModal" class="dropModal" (mouseenter)="onCaseOppMouseEnter()">
    <div class="dropModal-content">
      <div class="row">
        <div class="col-12 dropModal-content-panel"  cdkDropList (cdkDropListDropped)="onCaseOppDrop($event)" cdkDrag>
          <h1>Drag Case/Opp here to pin</h1>
        </div>
      </div>
    </div>
  </div>
</form>

  <ng-template #customProjectTypeAheadTemplate let-model="item" let-index="index">
    <div cdkDropList [cdkDropListData]="model" *ngIf="model.oldCaseCode" id="{{ 'demandProjectSearch-option-' + index }}" class="row">
      <div class="col-12">
        <div class="row" cdkDrag cdkDragLockAxis="y"  (cdkDragStarted)="onCaseOppDragStarted($event)" (cdkDragReleased)="onCaseOppDragReleased($event)" (cdkDragMoved)="onCaseOppDragMoved($event,index)">
          <div class="color-box case"></div>
          <div class="col-7 padding-left x10 textWrap"
               title="{{model.oldCaseCode + ' - ' + model.clientName + ' - ' + model.caseName}}">
            {{model.oldCaseCode + ' - ' + model.clientName + ' - ' + model.caseName}}
          </div>
          <div class="col-1">
            {{model.managingOfficeAbbreviation}}
          </div>
          <div class="col-3">
            {{model.startDate | date:'dd-MMM-yyyy'}} - {{model.endDate | date:'dd-MMM-yyyy'}}
          </div>
        </div>
      </div>
    </div>
    <div cdkDropList [cdkDropListData]="model" *ngIf="model.pipelineId" id="{{ 'demandProjectSearch-option-' + index }}" class="row">
      <div class="col-12">
        <div class="row" cdkDrag cdkDragLockAxis="y"  (cdkDragStarted)="onCaseOppDragStarted($event)" (cdkDragReleased)="onCaseOppDragReleased($event)" (cdkDragMoved)="onCaseOppDragMoved($event,index)">
          <div class="color-box opportunity"></div>
          <div *ngIf="model.probabilityPercent" class="col-7 padding-left x10 textWrap"
               title="{{model.probabilityPercent + ' - ' + model.clientName + ' - ' + model.opportunityName}}">
            {{model.probabilityPercent + '% - ' + model.clientName + ' - ' + model.opportunityName}}
          </div>
          <div *ngIf="!model.probabilityPercent" class="col-7 padding-left x10 textWrap"
               title="{{model.clientName + ' - ' + model.opportunityName}}">
            {{model.clientName + ' - ' + model.opportunityName}}
          </div>
          <div class="col-1">
            {{model.managingOfficeAbbreviation}}
          </div>
          <div class="col-3" *ngIf="model.endDate">
            {{model.startDate | date:'dd-MMM-yyyy'}} - {{model.endDate | date:'dd-MMM-yyyy'}}
          </div>
          <div class="col-3" *ngIf="!model.endDate">
            {{model.startDate | date:'dd-MMM-yyyy'}}
          </div>
        </div>
      </div>
    </div>
  </ng-template>
