<div class="filter-sort-edit">
  <div class="btn-group">
    <!-- Toggle -->
    <div class="btn" id="button-filter-sort-edit">
      <button class="btn" (click)="toggleDropdownMenu()">{{ lengthOfArray }} {{ label }}</button>

      <button class="btn delete-all-btn" (click)="deleteAll()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <!-- Container -->
    <div class="dropdown-menu" [class.show]="isDropdownOpen">
      <!-- ..filters -->
      <app-filter-by #editFilterBy *ngIf="type == 'filter'" [rowsToEdit]="filterRows" [showHeader]="showHeader"
        [menuPosition]="'down'"></app-filter-by>

      <!-- ..sorts -->
      <app-sort-by #editSortBy *ngIf="type == 'sort'" [rowsToEdit]="sortRows" [showHeader]="showHeader"
        [menuPosition]="'down'"></app-sort-by>

      <div class="dropdown-divider"></div>

      <!-- Footer -->
      <div class="edit-controls-wrapper">
        <button class="btn secondary" (click)="isDropdownOpen = false">
          Cancel
        </button>

        <button class="btn primary" (click)="apply()">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
