<div
    class="people-wrapper group-header"
    [class.collpased]="isCaseGroupCollapsed">
    <!--Client Name Wrapper -->
    <div class="name-img-wrapper">
        <p class="word-wrap" title="{{ case.clientName }}">
            {{ case.clientName }}
        </p>
    </div>

    <!-- Employee Info Wrapper -->
    <div class="info-wrapper">
        <!-- Row One -->
        <div class="row-wrapper d-flex">
            <!-- Case Code -->
            <div class="casecode">
                <span class="word-wrap" title="{{ case.oldCaseCode || 'Opp' }}">
                    {{ case.oldCaseCode || 'Opp' }}
                </span>
            </div>

            <!-- Start Date -->
            <div class="groupDate">
                <span *ngIf="case.startDate"
                    class="word-wrap"
                    title="{{ case.startDate | date: 'dd-MMM-yyyy' }}">
                    {{ case.startDate | date: "dd-MMM-yyyy" }}
                </span>
                <span *ngIf="!case.startDate" class="word-wrap">
                    NA
                </span>
            </div>

            <!-- End date -->
            <div class="groupDate">
                <span *ngIf="case.endDate" class="word-wrap" title="{{ case.endDate | date: 'dd-MMM-yyyy' }}">
                    {{ case.endDate | date: "dd-MMM-yyyy" }}
                </span>
                <span *ngIf="!case.endDate" class="word-wrap">
                    NA
                </span>
            </div>

            <!-- Persistent teams Pop-up -->
            <div class="persistentTeams">
            <span> 
                <i class="fas fa-users action_icon action_icon--plum"  title="Add Persistent Team" *ngIf="projectmembers?.length === 1 && case.startDate"
                    (click)="openPersistentTeamPopupHandler()"></i>
            </span>
            </div>


            <!-- Expand / Collapse Row -->
            <div class="expand-collapse-cta ml-auto">
                <button id="btn-expand-collapse-{{rowIndex}}"
                    class="d-flex align-items-center justify-content-center"
                    [ngClass]="isCaseGroupCollapsed ? 'collapsed' : ''"
                    (click)="toggleExpandCollapseCaseGroup()">
                    <i class="fa fa-chevron-up"></i>
                </button>
            </div>
        </div>
        
    </div>
</div>