<form class="supply-settings">

  <!--------------------Office Hierarchy Dropdown---------------------->
  <div id="supply-settings-office" class="form-row mb-3">
    <div class="col-3">
      <label for="field-resource">Offices</label>
    </div>
    <div class="col-6">
      <app-office-dropdown
        [officeHierarchy]="officeHierarchy"
        [title] ="'Offices'"
        [selectedOfficeList]="selectedSupplyViewOfficeList"
        (refreshView)="setSelectedSupplyViewOfficeList($event)"
      >
      </app-office-dropdown>
    </div>
  </div>

  <!--------------------Staffing Tags Dropdown---------------------->
  <div id="supply-settings-staffing-tags" class="form-row mb-3">
    <div class="col-3">
      <label for="field-resource">Staffing Tags</label>
    </div>
    <div class="col-6">
      <app-multi-select-dropdown
        [dropdownList]="staffingTagDropdownList"
        [title] ="'Staffing Tags'"
        [selectedItems]="selectedStaffingTagList"
        (refreshView)="setSelectedSupplyViewStaffingTagList($event)"
      >
      </app-multi-select-dropdown>
    </div>
  </div>

  <!--------------------Positions Dropdown---------------------->
  <div id="supply-settings-staffing-tags" class="form-row mb-3">
    <div class="col-3">
      <label for="field-resource">Positions</label>
    </div>
    <div class="col-6">
      <app-multi-select-dropdown
        [dropdownList]="positionDropdownList"
        [title] ="'Positions'"
        [selectedItems]="selectedPositionList"
        (refreshView)="setSelectedSupplyViewPositionList($event)"
      >
      </app-multi-select-dropdown>
    </div>
  </div>
  
  <!--------------------Practice Area Dropdown---------------------->
  <div id="supply-settings-practice-area" class="form-row mb-3">
    <div class="col-3">
      <label for="field-resource">Affiliation</label>
    </div>
    <div class="col-6">
      <app-multi-select-dropdown
      [dropdownList]="practiceAreaDropdownList"
      [title] ="'Affiliation'"
      [selectedItems]="selectedPracticeAreaCodes"
      (refreshView)="setSelectedPracticeAreaList($event)">
    </app-multi-select-dropdown>
    </div>  
  </div>

  <!--------------------Affiliation Roles Dropdown---------------------->
  <div id="supply-settings-affiliation-role" class="form-row mb-3" *ngIf="isAffiliationRoleShown">
    <div class="col-3">
      <label for="field-resource">Affiliation Roles</label>
    </div>
    <div class="col-6">
      <app-multi-select-dropdown
      [dropdownList]="affiliationRoleDropdownList"
      [title] ="'Affiliation Roles'"
      [selectedItems]="selectedAffiliationRoleCodes"
      (refreshView)="setSelectedAffiliationRolesList($event)">
    </app-multi-select-dropdown>
    </div>  
  </div>

  <!--------------------Level Grades Dropdown---------------------->
  <div id="supply-settings-level-grade" class="form-row mb-3">
    <div class="col-3">
      <label for="field-resource">Level Grades</label>
    </div>
    <div class="col-6">
      <app-multi-select-dropdown
        [dropdownList]="levelGradeDropdownList"
        [title] ="'level Grades'"
        [selectedItems]="selectedLevelGradeList"
        (refreshView)="setSelectedSupplyViewLevelGradeList($event)"
      >
      </app-multi-select-dropdown>
    </div>
  </div>

  <!--------------------Availability Includes Dropdown---------------------->
  <div id="supply-settings-availability-includes" class="form-row mb-3">
    <div class="col-3">
      <label for="field-resource">Availability Includes</label>
    </div>
    <div class="col-6">
      <app-multi-select-dropdown
        [dropdownList]="availabilityIncludesDropdownList"
        [title]="'Availability Includes'"
        [selectedItems]="selectedAvailabilityIncludesList"
        (refreshView)="setSelectedAvailabilityIncludesList($event)"
      >
      </app-multi-select-dropdown>
    </div>
  </div>

  <!--------------------Group By Dropdown---------------------->
  <div id="supply-settings-group-by" class="form-row mb-3">
    <div class="col-3">
      <label for="field-resource">Group By</label>
    </div>
    <div class="col-6">
      <app-multi-select-dropdown
      [dropdownList]="groupByDropdownList"
      [title] ="'Group By'"
      [selectedItems]="selectedGroupByList"
      (refreshView)="setSelectedSupplyViewGroupByList($event)"
    >
    </app-multi-select-dropdown>
    </div>
  </div>

  <!--------------------Sort By Dropdown---------------------->
  <div id="supply-settings-sort-by" class="form-row mb-3">
    <div class="col-3">
      <label for="field-resource">Sort By</label>
    </div>
    <div class="col-6">
        <app-multi-select-dropdown
        [dropdownList]="sortByDropdownList"
        [title] ="'Sort By'"
        [selectedItems]="selectedSortByList"
        (refreshView)="setSelectedSupplyViewSortByList($event)"
      >
      </app-multi-select-dropdown>
    </div>
  </div>

  <!--------------------Role Name Dropdown---------------------->
  <!-- <div id="supply-settings-role-name" class="form-row mb-3">
    <div class="col-3">
      <label for="field-resource">Role Name</label>
    </div>
    <div class="col-6">
        <app-multi-select-dropdown
        [dropdownList]="roleNameDropdownList"
        [title] ="'Role Name'"
        [selectedItems]="selectedSortByList">
        (refreshView)="setSelectedSupplyViewRoleNameList($event)"
      > 
      </app-multi-select-dropdown>
    </div>
  </div> -->

  <!--------------------Date Threshold---------------------->
  <div id="supply-settings-date-interval" class="form-row mb-3">
    <div class="col-3">
      <label for="field-resource">Date Interval</label>
    </div>
    <div class="col-6">
      <shared-increment-decrement-buttons [selectedValue]="userPreferences.supplyWeeksThreshold"
        (valueChanged)="setSupplyWeekThreshold($event)">
      </shared-increment-decrement-buttons>

      <div class="text-nowrap display-inline">Weeks</div>
    </div>
  </div>

  <!--------------------Availability Thresholds---------------------->
  <div id="supply-settings-availability-thresholds" class="form-row mb-3">
    <div class="col">
      <label for="field-resource">Availability Thresholds:</label>
    </div>
  </div>
  <div id="supply-settings-vacation-threshold" class="form-row mb-3">
    <div class="col offset-1 d-flex align-items-center">
      <div class="text-nowrap" style="width:170px">Include vacations over</div>
      <shared-increment-decrement-buttons [selectedValue]="userPreferences.vacationThreshold"
        (valueChanged)="setVacationThreshold($event)">
      </shared-increment-decrement-buttons>

      <div class="text-nowrap">days</div>
    </div>
  </div>

  <div class="form-row mb-3">
    <div id="supply-settings-training-threshold" class="col offset-1 d-flex align-items-center">
      <div class="text-nowrap" style="width:170px">Include trainings over</div>
      <shared-increment-decrement-buttons [selectedValue]="userPreferences.trainingThreshold"
        (valueChanged)="setTrainingThreshold($event)">
      </shared-increment-decrement-buttons>

      <div class="text-nowrap">days</div>
    </div>
  </div>
</form>
