<div id="inline-notes-header" class="modal-header">
  <h5 class="modal-title">
    Update Notes <label class="user-message">(Max {{maxLength}} characters)</label>
  </h5>

  <button type="button" class="close" (click)="closeNotes()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="inline-notes-body" class="modal-body">
  <form class="data-collection" novalidate>
    <div class="col-12">
      <textarea name="inlineNotes" class="form-control form-control-sm" id="field-notes" [(ngModel)]="inputNotes"
        maxlength="{{maxLength}}" rows="4" (input)="countCharacters()">
      </textarea>
    </div>
    <div class="word-count col-12" *ngIf="totalCharactersCount > 0">
      <label for="totalCharactersCount">Character count: {{totalCharactersCount}}</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button *ngIf="showDeleteButton" id="inline-notes-cancel" type="button" class="btn btn-sm btn-secondary" (click)="deleteNotes()">
    Delete
  </button>
  <button id="inline-notes-cancel" type="button" class="btn btn-sm btn-secondary" (click)="closeNotes()">
    Cancel
  </button>
  <button id="inline-notes-update" type="button" class="btn btn-sm btn-primary" (click)="updateNotes()">
    Update
  </button>
</div>