.container-fluid {
    padding-right: 52px;
    padding-left: 52px;
    min-height: 750px;
    // height: 100%;
}

.option-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;

    * {
        margin-right: 0.5rem;
    }

    .search-input {
        padding: 0.25rem 0.85rem;
        // width: 22rem;
        min-width: 19rem;
        text-indent: 20px;
        border: 1px solid #c4c4c4;
        border-radius: 3px;
    }
}

.btn-dropdown {
    padding: 0.25rem 0.85rem;
    background-color: #fff;
    color: #707070;
    border: 1px solid #c4c3c3;
    outline: none;
    box-shadow: none;


}

.btn-user {
    padding: 0.25rem 0.85rem;
    background-color: #cc0000;
    color: #fff;
    border: 1px solid #c4c3c3;
    transition: all 0.3 ease;
    opacity: 1;
}

.btn-ringfence {
    padding: 0.25rem 0.85rem;
    background-color: #1b00cc;
    color: #fff;
    border: 1px solid #c4c3c3;
    transition: all 0.3 ease;
    opacity: 1;
}

.btn-add {
    background-color: #cc0000;
    color: #fff;
    padding: 0.275rem 1.4rem;

    &:active {
        background-color: #999 !important;
        color: #fff !important;
    }
}

input {
    border: 1px solid #c4c3c3;
    text-indent: 15px;
    border-radius: 3px;

    &:focus {
        outline: none;
    }
}

.modal-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.modal-body {
    padding: 3rem;
}

.filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem 1rem 3rem;
}

.filter-applied {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
        margin: 0;
        font-size: 12px;
    }
}

ag-grid-angular {
    width: 100%;
    // min-height: 200px;
    // height: 100%;
    border: none;
}

.input-search {
    position: relative;

    i {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
        color: #000;
    }
}

.filter-border {
    display: flex;
    border: 1px solid #c4c3c3;
    border-radius: 3px;
    flex: 50% 1 1;
    flex-wrap: wrap;
    height: 34px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
}

.filter-option-end {
    justify-content: flex-end;
}

.dropdown-menu {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -4%) !important;
    width: 80%;
    overflow-y: hidden !important;
}

:host ::ng-deep {

    typeahead-container.dropdown-menu {
        overflow-y: hidden !important;
    }

    .alert-applied-filter {
        background-color: #fff;
        color: #707070;
        border: none;
        padding: 0.25rem 1.5rem 0.25rem 0.15rem;
        margin: 0 0.5rem;
    }

    .alert-dismissible .close {
        padding: 0;
        height: 100%;

        span {
            font-weight: 400;
            color: #000;
        }
    }

    .multiselect-dropdown {
        min-width: initial !important;

        .dropdown-list {
            width: 300px;
            right: 0;
        }

        .filter-textbox {
            border-bottom: none !important;

            input {
                border: 1px solid #c4c3c3 !important;
            }
        }

        .dropdown-btn {
            padding: 0.25rem 0.85rem !important;

            & > span {
                padding-right: 6px;
            }

            &:focus {
                outline: none;
            }
        }

        .dropdown-down,.dropdown-up {
            margin-left: 0.2rem;
            transform: translate(0,-1px);
            border-left: 5px solid transparent !important;
            border-right: 5px solid transparent !important;
        }

        .dropdown-down {
            border-top: 5px solid #adadad !important;
        }

        .dropdown-up {
            border-bottom: 5px solid #adadad !important;
        }

        .multiselect-item-checkbox {
            border-bottom: none !important;

            & input {
                &[type=checkbox]:checked + div::before {
                    background: #c4c3c3 !important;
                }

                & + div::before {
                    color: #707070 !important;
                    border: 2px solid #707070 !important;
                }
            }
        }
    }

    .ag-theme-balham {

        .ag-ltr {
            .ag-cell-focus {
              border: none !important; // added important keyword to apply style
            }
          }

        // START - Style for security page

        .ag-header {
            border-bottom: 1px solid #707070;
        }

        .ag-root-wrapper {
            border: none;
        }

        .ag-header-cell {
            background-color: #fff;
            color: #707070;
            border: none;
            padding-left: 5px !important;

            &::after {
            background: #fff;
            }
        }

        .ag-header-group-cell {
            padding-left: 5px !important;

            &::after {
                background: #fff;
            }
        }

        // END - Style for security page

        .ag-cell {
            display: flex;
            align-items: center;
            color: #707070;
            border: none !important; // added to prevent text jump when clicked on cell

            // added to prevent text jump when clicked on cell
            &:focus {
              border: none !important;
              outline: none !important;
            }
        }
    }


    .ag-header-toggle .ag-header-cell-label {
        justify-content: center;
    }

    .ag-cell-delete-btn {
        // height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ag-cell-toggle-btn {
        justify-content: center;
    }

}


// Modile view

@media screen and (max-width: 430px) {
    :host ::ng-deep {
        .multiselect-dropdown {

            .dropdown-list {
                max-width: 200px;
                left: 0;
                right: unset;
            }
        }
    }
    .container-fluid {
        padding-right: 32px;
        padding-left: 32px;
    }

    .filter-wrapper {
        flex-direction: column-reverse;
    }

    .option-details {
        justify-content: space-between;
        flex-wrap: wrap;

        & * {
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 770px) {
    .search-input {
        min-width: 10rem !important;
    }

    .filter-wrapper {
        flex-wrap: wrap;

        & * {
            margin-bottom: 1rem;
        }
    }
}


  :host ::ng-deep {
    @import "~@angular/material/prebuilt-themes/indigo-pink";

    .mat-slide-toggle-thumb {
        width: 16px;
        height: 16px;
    }

    .mat-slide-toggle-bar {
        width: 28px;
        height: 12px;
    }



    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: #e2e2e2;
    }

    .mat-slide-toggle-bar {
        background-color: #e2e2e2;
    }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #cc0000;
    }

    // Animation test
    .mat-slide-toggle.mat-checked .mat-ripple-element {
        background-color: transparent;
    }

    .mat-slide-toggle:not(.mat-checked) .mat-ripple-element {
        background-color: transparent;
    }
}

.btn-delete {
    padding: 0 0.25rem;
    font-size: 12px;
    border-color: #c4c3c3;
    color: #cc0000;
    margin-top: 5px !important;

    &:hover {
        background-color: #fff;
        border-color: #cc0000;
    }

    &:active {
        background-color: #fff !important;
        border-color: #cc0000;
        color: #cc0000 !important;
    }


}

.btn-delete-outline {
    background-color: #cc0000;
    color: #fff;
}

.modal-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.modal-body {
    padding: 3rem;
}

.table-grid {
    max-height: 560px;
    overflow-y: scroll;
    font-size: 13px;
    border-bottom: 1px solid #c4c4c4;
}

table {
    margin-bottom: -5px;
}

th {
    background: rgb(235, 235, 235);
    position: sticky;
    z-index: 1000;
    top: -1px;
}

.alumni-text {
    font-size: 10px;
    font-weight: 600;
}

.mat-progress-bar {
    display: block;
    height: 2px;
    overflow: hidden;
    position: relative;
    transition: opacity 250ms linear;
    width: 100%;
    position: fixed;
    top: 0px;
  }

  .inline-editable-endDate {
      width: 100px;
  }

  .level-grade-col-width {
    width: 20%;
  }
  .new-cases-table-wrapper {
    margin: 0px auto;
    width: 100%;
  }

  .admin-grid{
    width: 100%;
    height: calc(90vh - 60px);
  }