<mat-progress-bar mode="indeterminate" color="warn" *ngIf="showProgressBar"></mat-progress-bar>

<div class="filter-wrapper filter-option-end">
  <div class="option-details">   
    <div class="input-search">
      <input id="searchBossUser" type="text" placeholder="Search for staffing users" class="search-input"
        (keyup)="searchFilterHandler($event)" #staffingUsersSearchInput autocomplete="off">
      <i class="fa fa-search"></i>
    </div>
    <button id="btnAddUser" class="btn btn-user" (click)="openAddUserModal()">Add a New User</button>
    <button id="btnAddPracticeRingfence" class="btn btn-ringfence" (click)="openAddRingfenceModal()">Manage Ringfence</button>
  </div>
</div>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 panel-body table-responsive">
        <span *ngIf="filteredUsers?.length === 0">No User found</span>
          <!-- AG Grid Table -->
          <div class="new-cases-table-wrapper">
            <div *ngIf="filteredUsers?.length > 0">
              <ag-grid-angular class="ag-theme-alpine admin-grid" [rowData]="rowData" [getRowId]="getRowId"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [animateRows]="true"
                (cellClicked)="onAgGridCellClick($event)"
                [singleClickEdit]="true" [accentedSort]="true" (cellValueChanged)="onCellValueChanged($event)" [components]="components"
                [frameworkComponents]="frameworkComponents" [gridOptions]="gridOptions" [accentedSort]="true"
                (gridReady)="onGridReady($event)"  [stopEditingWhenGridLosesFocus]="true">
              </ag-grid-angular>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
