<div class="ag-grid-notes-cell-renderer">
  <button class="toggle-notes-button" (click)="toggleNoteModal()" [ngbPopover]="latestNote?.length > 0 ? popoverContent : noContentPopover"
    popoverClass="note-popover-wrapper" triggers="mouseenter:mouseleave"
    placement="bottom-left bottom-right top-left top-right" container="body">
    <img [src]="noteIcon" alt="note-icon">
  </button>

  <!-- Popover content -->
  <ng-template #popoverContent>
    <div class="notes">
      <div class="note-wrapper">
        <!-- Author, Date.. -->
        <div class="note-wrapper__header">
          <i class="fas fa-user"></i>
          <p class="header">{{ note?.author }}</p>
          <p *ngIf="!isEditMode">{{ note?.dateAuthored | date : "M/d/yy h:mm a" }}</p>
        </div>

        <!-- Content -->
        <div class="note-wrapper__content">
          <p>{{ latestNote }}</p>
        </div>
      </div>

      <div class="note-wrapper" *ngIf="this.project?.note?.length >= 2">
        <p class="header">
          + {{ this.project?.note?.length - 1 }}
          {{ this.project?.note?.length === 2 ? "note" : "notes" }}
        </p>
      </div>
    </div>
  </ng-template>

  <!-- No Notes popover -->
  <ng-template #noContentPopover>
    <div class="notes">
      <div class="note-wrapper">
        <p class="header">There a 0 notes</p>
      </div>

      <div class="note-wrapper">
        <p>To add a new note, click the note icon.</p>
      </div>
    </div>
  </ng-template>
</div>