<section id="{{planningCard.id}}" (drop)="dropPlanningCardEvent($event)">
  <div class="card-placeholder project">
    <div class="card-placeholder__wrapper">

      <!-- <div class="card-placeholder__backdrop" *ngIf="isCaseDialog" (click)="toggleMergeDialogHandler()"></div> -->

      <div class="card-placeholder__title">
        <textarea placeholder="Planning Card" (input)="onInputChange($event)"
          (change)="updatePlanningCardName($event)">{{planningCard?.name}}</textarea>
        <!--Component Slide Out Actions-->

        <div class="card-placeholder__icons">
          <app-project-action-panel [showMergeIcon]="true" [showCardDeleteIcon]="true" [showplaceholder]="true"
            [showShareIcon]="true" [allowPin]="false" [allowHide]="false" [showCaseRoll]="false"
            [emailTo]="activeResourcesEmailAddresses" [showQuickPeek]="true"
            (addPlaceHolderEmitter)="onAddPlaceHolderHandler()" (toggleMergeDialogEmitter)="toggleMergeDialogHandler()"
            (openQuickPeekIntoReosurcesCommitments)="quickPeekIntoResourcesCommitments()"
            (deleteCardEmitter)="deletePlanningCardHandler()" (sharePlaceHolderEmitter)="sharePlaceHolderHandler()">
          </app-project-action-panel>
        </div>

        <!--End Component Slide Out Actions-->
      </div>
      <div class="input-group mr-3 calendar card-placeholder__daterange">

        <div class="input-group-prepend">
          <span class="input-group-text" id="date-picker-icon" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
            <i class="fa fa-calendar-alt ngx-daterangepicker-action fa-fw" aria-hidden="true"></i>
          </span>
        </div>
        <input placeholder="Date range" type="text" name="daterange" readonly [ngModel]="planningCardDateRange"
          (ngModelChange)="updatePlanningCardDateRange($event)" class="form-control" #dp="bsDaterangepicker"
          bsDaterangepicker [bsConfig]="bsConfig">
        <i *ngIf="this.planningCard.isShared" class="fa fa-share-alt share-icon" title="Planning Card Shared"
          (click)="sharePlaceHolderHandler()">
        </i>

        <a *ngIf="showPegRFIcon" title="PEG Opportunity Details"  class="rf-overlay-icon-container" (click)="openPegRFPopUpHandler()">
            <img src="assets/img/fence-icon.png" alt="PEG Opportunity Details" class="fence-icon" />
        </a>
      </div>
      <div class="card-placeholder__content content">

        <div class="row no-gutters" id="placeholderid">
          <div *ngFor="let allocation of planningCard.placeholderallocations; index as index" class="placeholder__list"
            style="display: flex;width: 100%;" [ngClass]="{'highlight-allocation': isHighlightAllocation(allocation)}"
            (upsertPlaceholderAllocationEmitter)="upsertPlaceholderAllocationHandler($event)"
            (openResourceDetailsDialog)="openResourceDetailsDialogHandler($event)" [planningCard]="planningCard"
            (confirmPlaceholderAllocationEmitter)="confirmPlaceholderAllocationHandler($event)"
            (removePlaceHolder)="removePlaceHolderEmitterHandler($event)" [projectResourceComponentIndex]="index"
            #projectResourceComponent app-project-resource [placeholderAllocation]="allocation"></div>
        </div>

        <div cdkDropList [cdkDropListData]="planningCard.regularAllocations"
          (cdkDropListDropped)="onPlaceholderDrop($event)" class="row no-gutters card-content-area">
          <div *ngFor="let allocation of planningCard.regularAllocations; index as index"
            style="display: flex;width: 100%;" [ngClass]="{'highlight-allocation': isHighlightAllocation(allocation)}"
            (upsertPlaceholderAllocationEmitter)="upsertPlaceholderAllocationHandler($event)"
            (openResourceDetailsDialog)="openResourceDetailsDialogHandler($event)" [planningCard]="planningCard"
            (removePlaceHolder)="removePlaceHolderEmitterHandler($event)" #projectResourceComponent app-project-resource
            [projectResourceComponentIndex]="index" [userAllocation]="allocation" cdkDrag
            [cdkDragDisabled]="!allocation.id" (mousedown)="caseDragMouseDown(allocation.id)"></div>
        </div>

      </div>
    </div>

  </div>
</section>
