<a tabindex="0" [class.disabled]="disableUserProfile" class="nav-link" placement="bottom" [popover]="popTemplate"
  [outsideClick]="true" #settingsPop="bs-popover">
  <img class="profile-pic" src="{{employee.profileImageUrl}}" (error)="getImageUrl()" />
  <span id="lnkUserName">{{employee.firstName}}&nbsp;{{employee.lastName}}</span>
</a>
<!-- Content for profile popover -->
<ng-template #popTemplate>
  <div class="profile-popover">
    <h3 class="popover-header">
      <div class="popover-heading">
        <div class="row">
          <div class="col-4">
            <img class="profile-pic" src="{{employee.profileImageUrl}}" (error)="getImageUrl()" />
          </div>
          <div class="col d-flex flex-column justify-content-end">
            <div class="mb-1">{{employee.firstName}}&nbsp;{{employee.lastName}}</div>
            <br />
            <!-- <a>Profile Settings</a> -->
          </div>
        </div>
      </div>
    </h3>
    <div class="popover-body">
      <ul>
        <li>
          <a href="javascript:" *appFeaturesAccess="appScreens.feature.staffingSettings" (click)="openSupplySettingsForm();settingsPop.hide();">Staffing settings</a>
        </li>
        <li>
          <a href="javascript:" *appFeaturesAccess="appScreens.feature.bulkUpdateForOfficeClosure" (click)="openOfficeClosureForm();settingsPop.hide();">Bulk Update for Office Closure</a>
        </li>
        <!-- <li>
          <a class="logout" href="">Sign out</a>
        </li> -->
      </ul>
    </div>
  </div>
</ng-template>
<!--End of content for profile popover-->
