<!-- COMPONENT: RESOURCE-->
<div class="row no-gutters w-100 user" (click)="resourceClickHandler($event)"
  [ngClass]="{'terminated': resource.isTerminated, 'resource-selected': resource.isSelected}">
  <div class="user__image">
    <img width="30" height="30" [src]="resource.profileImageUrl ? resource.profileImageUrl : 'assets/img/user-icon.jpg'" loading="lazy"
      (error)="getImageUrl()">
  </div>

  <div class="user__details">
    <div class="name user__name pl-0">
      <div class="supply-resource-name-fl">
        <a title="{{resource.fullName}}" href="javascript:void(0);"
          (click)="openResourceDetailsDialogHandler(resource.employeeCode)">{{resource.fullName}}</a>
      </div>
      <div *ngIf="resource.staffableAsTypeName" class="staffableAs-flag-position">
        <i title="{{'Staffable as: ' + resource.staffableAsTypeName}}" class="fas fa-flag"></i>
      </div>
    </div>
    <div class="user__info">
      <div class="user__level">{{resource.levelGrade}}</div>
      <div class="user__location">{{resource.schedulingOffice.officeAbbreviation}}</div>
      <ng-container *ngIf="resource.isTerminated">
        <div>Alumni</div>
      </ng-container>
      <ng-container *ngIf="!resource.isTerminated && !resource.onTransitionOrTerminationAndNotAvailable">
        <div class="user__allocation">{{resource.percentAvailable | number: '1.0-1'}}</div>
        <div class="user__date">{{resource.dateFirstAvailable | date:'dd-MMM'}}</div>
      </ng-container>
      <ng-container *ngIf="resource.onTransitionOrTerminationAndNotAvailable">
        <div class="user__allocation">N/A</div>
        <div class="user__date">N/A</div>
      </ng-container>
      <div class="user__icon"
        *ngIf="resource.upcomingCommitmentsForAlerts && resource.upcomingCommitmentsForAlerts.length"
        title="{{'Alert: ' + resource.upcomingCommitmentsForAlerts}}" (click)="toggleAlertDetails();">
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
          <path
            d="M9.79223 7.65191L6.25971 0.760964C5.69215 -0.252981 4.30861 -0.254328 3.74029 0.760964L0.207947 7.65191C-0.372249 8.68799 0.330193 10 1.46736 10H8.53252C9.66873 10 10.3724 8.68905 9.79223 7.65191ZM5 8.75643C4.67699 8.75643 4.41406 8.47742 4.41406 8.13465C4.41406 7.79188 4.67699 7.51286 5 7.51286C5.32301 7.51286 5.58594 7.79188 5.58594 8.13465C5.58594 8.47742 5.32301 8.75643 5 8.75643ZM5.58594 6.26929C5.58594 6.61206 5.32301 6.89108 5 6.89108C4.67699 6.89108 4.41406 6.61206 4.41406 6.26929V3.16037C4.41406 2.8176 4.67699 2.53858 5 2.53858C5.32301 2.53858 5.58594 2.8176 5.58594 3.16037V6.26929Z"
            fill="#929090" />
        </svg>
      </div>

    </div>
    <ng-container *ngIf="showAlertDetails">

      <div *ngFor="let alert of resource.upcomingCommitmentsForAlerts; first as isFirst"
        class="row no-gutters alert-details alerts-width">

        <div class="col">
          <strong>Alert:</strong> {{alert}}
        </div>
        <div class="col-2 text-right close-alert close-alert-btn-pos" *ngIf="isFirst">
          <i class="fa fa-times pr-1" (click)="hideAlertDetails();"></i>
        </div>

      </div>

    </ng-container>
  </div>
</div>
<!-- END COMPONENT: RESOURCE-->