.tooltip-component {
  align-items: center;
  background-color: #c2c9d1;
  border-radius: 3rem;
  display: inline-flex;
  height: 20px;
  justify-content: center;
  width: 20px;

  &:hover .tooltip-wrapper {
    visibility: visible;

    .tooltip {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  // Info Icon
  i {
    color: #fff;
    font-size: smaller;
  }

  .tooltip-wrapper {
    position: absolute;
    visibility: hidden;
    z-index: 10;
  }

  .tooltip {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    color: #000;
    height: fit-content;
    max-width: 250px;
    opacity: 0;
    padding: 12px;
    position: relative;
    transform: scaleY(0.9);
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;

    // Tooltip Header
    h4 {
      font-size: 13px;
      font-weight: bold;
      line-height: 20px;
      margin: 0px;
      padding: 0px;
    }

    // Tooltip Message
    p {
      font-size: 12px;
      line-height: 16px;
      margin: 0px;
      padding: 0px;
    }

    h4+p {
      margin-top: 2px;
    }
  }
}
