<!-- COMPONENT: PROJECT DETAILS-->
<div class="overlay project-overlay" [ngClass]="{ active: showDialog }" id="project-card">
    <!-- Top -->
    <div class="top-section" [style.height.px]="height">
        <!-- Header | Breadcrumbs -->
        <header>
            <div class="header-wrapper d-flex align-items-center">
                <button (click)="closeDialog()">Staffing</button>
                <i class="fas fa-chevron-right"></i>
                <h2>
                    <span *ngIf="project.projectDetails?.type == 'Opportunity'"
                        >{{ project.projectDetails.opportunityName }}
                    </span>
                    <span *ngIf="project.projectDetails?.type != 'Opportunity'">{{
                        project.projectDetails.caseName
                    }}</span>
                </h2>
            </div>

            <button (click)="closeDialog()">
                <i class="fas fa-times"></i>
            </button>
        </header>

        <!-- Header | Project Details -->
        <div class="project-details" *ngIf="project.projectDetails">
            <app-project-header
                class="w-100"
                [projectHeaderDetails]="project.projectDetails"
                [emailTo]="activeResourcesEmailAddresses"
                [isPinned]="isPinned"
                [isHidden]="isHidden"
                [isCaseOnRoll]="isCaseOnRoll"
                [caseRoleAllocations]="caseRoleAllocations"
                (onTogglePin)="onTogglePinHandler($event)"
                (onToggleHide)="onToggleHideHandler($event)"
                (updateProjectChanges)="updateProjectChangesHandler($event)"
                (openCaseRollForm)="onCaseRollHandler($event)"
                (openPlaceholderForm)="openPlaceholderFormhandler($event)"
            >
            </app-project-header>
        </div>
    </div>

    <!-- Grab Handle -->
    <div class="grab-handle-wrapper">
        <div class="grab-handle" id="gr">
            <i class="fas fa-grip-lines"></i>
        </div>
    </div>

    <div class="bottom-section" [ngStyle]="getHeight()">
        <div class="stage" *ngIf="project.projectDetails">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-12">
                    <div class="row">
                        <!--Start SKU Tab Component-->
                        <div
                            class="col-12"
                            [appFeatureDisabled]="accessibleFeatures.caseOverlaySKU"
                        >
                            <app-sku-tab-list
                                *ngIf="project.projectDetails.startDate"
                                [pipelineId]="data.projectData.pipelineId"
                                [oldCaseCode]="data.projectData.oldCaseCode"
                                [skuTermList]="skuTermList"
                                [estimatedTeamSize]="project.projectDetails.estimatedTeamSize"
                                [skuTabList]="project.skuTabList"
                                [caseStartDate]="project.projectDetails.startDate"
                                (insertSkuCaseTerms)="insertSkuCaseTermsHandler($event)"
                                (updateSkuCaseTerms)="updateSkuCaseTermsHandler($event)"
                                (deleteSkuCaseTerms)="deleteSkuCaseTermsHandler($event)"
                            >
                            </app-sku-tab-list>
                        </div>
                        <!--END SKU Tab Component-->
                    </div>
                </div>
            </div>

            <div class="row no-gutters" id="detailtabs">
                <div class="col-12 tbs">
                    <tabset #staticTabs>
                        <!--Start Gantt Tab Component-->
                        <tab heading="Calendar" (selectTab)="populateGanttData()" active="true">
                            <div style="padding-bottom: 10px">
                                <div
                                    style="text-align: right; margin-top: -38px"
                                    *appFeaturesAccess="accessibleFeatures.addCommitment"
                                >
                                    <button class="btn btn-default mr-3" (click)="addResource()">Add Resource</button>
                                </div>
                            </div>

                            <app-gantt-case
                                [isGanttCalendarReadOnly]="isGanttCalendarReadOnly"
                                [investmentCategories]="investmentCategories"
                                [caseRoleTypes]="caseRoleTypes"
                                [activeResourcesStartDate]="activeResourcesStartDate"
                                [calendarRadioSelected]="calendarRadioSelected"
                                (getActiveResourcesForProjectOnOrAfterSelectedDate)="getActiveResourcesForProjectOnOrAfterSelectedDateHandler($event)"
                                (updateResourceToProject)="updateResourceToProjectHandler($event)"
                                (upsertResourceAllocationsToProject)="upsertResourceAllocationsToProjectHandler($event)"
                                (upsertPlaceholderAllocationsToProject)="upsertPlaceholderAllocationsToProjectHandler($event)"
                                (deleteResourceFromProject)="deleteResourceFromProjectHandler($event)"
                                (openQuickAddForm)="openQuickAddFormHandler($event)"
                                (openPlaceholderForm)="openPlaceholderFormhandler($event)"
                                (resourceCodeToOpen)="resourceCodeToOpenHandler($event)"
                                (changeCalendarOption)="changeCalendarOptionHandler($event)"
                                (openSplitAllocationDialog)="openSplitAllocationDialogHandler($event)"
                                (deleteSelectedProjectsConfirmationDialog)="deleteSelectedResourcesConfirmation($event)"
                                (deleteSelectedPlaceholdersConfirmationDialog)="deleteSelectedPlaceholdersConfirmation($event)"
                                (openUpdateAllocationsDatesDialog)="openUpdateDateForm($event)"
                                (openUpdatePlaceholdersDatesDialog)="openUpdateDateForm($event)"
                            >
                            </app-gantt-case>
                        </tab>
                        <!--END Gantt Tab Component-->

                        <!--Start Ag-Grid Tab Component-->
                        <tab heading="Team" (selectTab)="populateAGGrid()">
                            <div class="tab-content tab-content-team" style="height: 100%">
                                <div
                                    style="text-align: right; padding-bottom: 10px; margin-top: -38px"
                                    *appFeaturesAccess="accessibleFeatures.addCommitment"
                                >
                                    <button class="btn btn-default mr-3" (click)="addResource()">Add Resource</button>
                                </div>
                                <ag-grid-angular
                                    class="ag-theme-balham"
                                    style="height: 450px"
                                    [enableCellChangeFlash]="true"
                                    (firstDataRendered)="onFirstDataRendered($event)"
                                    [rowData]="agGridRowData"
                                    [components]="components"
                                    (cellClicked)="openResourceDetailsDialogHandler($event)"
                                    [columnDefs]="columnDefs"
                                    [defaultColDef]="defaultColDef"
                                    [animateRows]="true"
                                    [accentedSort]="true"
                                    [singleClickEdit]="true"
                                    (cellValueChanged)="onCellValueChanged($event)"
                                    [getContextMenuItems]="getContextMenuItems"
                                    rowSelection="multiple"
                                    (gridReady)="onGridReady($event)"
                                    [gridOptions]="gridOptions"
                                    (gridSizeChanged)="onGridSizeChanged($event)"
                                    [stopEditingWhenGridLosesFocus]="true"
                                >
                                </ag-grid-angular>
                            </div>
                        </tab>
                        <!--END Ag-Grid Tab Component-->

                        <!--Start Audit Log Tab Component-->
                        <tab heading="Audit Log" (selectTab)="getProjectAuditTrails()">
                            <div
                                class="audit-log"
                                infiniteScroll
                                [infiniteScrollDistance]="scrollDistance"
                                [scrollWindow]="false"
                                (scrolled)="onAuditLogScrolled()"
                            >
                                <div class="empty-table-message" *ngIf="!project.auditTrails.length && !logLoading">
                                    {{ emptyLogMessage }}
                                </div>
                                <table
                                    id="tblProjectAuditTrail"
                                    class="table table-striped"
                                    *ngIf="project.auditTrails.length"
                                >
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Event</th>
                                            <th>Old</th>
                                            <th>New</th>
                                            <th>Modified By</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let auditTrail of project.auditTrails">
                                            <td>{{ auditTrail.eventDescription }}</td>
                                            <td>{{ auditTrail.old }}</td>
                                            <td>{{ auditTrail.new }}</td>
                                            <td>{{ auditTrail.updatedBy }}</td>
                                            <td class="no-wrap">
                                                {{ auditTrail.date | date : "dd-MMM-yyyy h:mm:ss a" }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="empty-table-message" *ngIf="logLoading">Loading...</div>
                            </div>
                        </tab>

                        <ng-container *appFeaturesAccess="accessibleFeatures.caseEconomics">
                            <tab
                                *ngIf="project.projectDetails.oldCaseCode"
                                heading="Case Economics"
                                (selectTab)="loadCaseEconomicsDashboard()"
                            >
                                <app-case-economics
                                    [triggerTableauDashboardLoad]="isTableauDashboardLoadTrigerred"
                                    [project]="project.projectDetails"
                                ></app-case-economics>
                            </tab>
                        </ng-container>

                        <!--End Audit Log Tab Component-->
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END COMPONENT: PROJECT DETAILS -->
