.filter-by-wrapper {
  display: grid;
  font-family: "Graphik";
  gap: 10px;

  #filter-by-label {
    color: #616568;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0px;
  }

  // Filter container
  .filter-by-container {
    display: grid;
    gap: 10px;

    // Row
    .filter-row {
      align-items: center;
      display: grid;
      gap: 10px;
      grid-template-columns: 60px repeat(3, minmax(100px, 1fr)) auto;

      #filter-row-label {
        color: #121212;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        margin: 0px;
      }

      // Date Picker Wrapper
      .date-picker-wrapper {
        input {
          background-color: #fff !important;
          border: 1px solid #e0e4e8 !important;
          font-family: "Graphik";
          font-size: 12px !important;
          height: 32px;
          min-width: 100px !important;

          &:hover,
          &:focus {
            border-color: #284ce0 !important;
          }
        }

        .input-group-text {
          background-color: #fff !important;
        }
      }
    }
  }

  // Filter controls
  .filter-controls-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  .btn {
    background: none;
    border: none;
    color: #616568;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    gap: 5px;
    line-height: 14px;
    padding: 5px 10px;

    &:hover {
      background: #dae5fd;
    }
  }
}
