// People Wrapper
.people-wrapper {
  box-sizing: border-box;
  display: grid;
  font-family: "Graphik";
  font-size: 10px;
  gap: 8px;
  grid-template-columns: 100px auto;
  max-width: 400px;
  padding: 10px;
  width: 400px;

  // When collapsed
  &.collapsed {
      .profile-picture,
      .row-2-wrapper,
      .notes-wrapper {
          display: none;
          opacity: 0;
      }
  }

  div,
  p,
  a {
      margin: 0px;
  }

  // Name & Profile Image
  .name-img-wrapper {
      width: 100%;

      a {
          color: #284ce0;
          display: block;
          font-weight: 500;
          width: 100%;
      }

      p {
          color: #121212;
          font-size: 10px;
          font-weight: 500;
          width: 100%;
      }

      .profile-picture {
          background-color: #fefefe;
          border-radius: 100px;
          height: 38px;
          margin: 10px 0px 0px;
          overflow: hidden;
          width: 38px;

          img {
              height: 100%;
              width: 100%;
          }
      }
  }

  // Info Wrapper
  .info-wrapper {
      width: 100%;

      .row-1-wrapper,
      .row-2-wrapper {
          gap: 15px;
      }

      .row-1-wrapper {
          .expand-collapse-cta {
              display: none;
          }

          &:hover {
              .expand-collapse-cta {
                  display: block;
              }
          }
      }

      span {
          color: #616568;
          display: block;
          text-transform: capitalize;

          &.header-label {
              font-weight: 500;
          }
      }

      // Position
      .position,
      .hireDate {
          width: 73px;
      }

      // Level
      .level {
          width: 20px;
      }

      // Office
      .office {
          width: 25px;
      }

      // Percentage
      .percentage {
          width: 25px;
      }

      // Date
      .date {
          width: 40px;
      }

      // Last Billable Date
      .last-billable-date {
        width: 130px;
      }

      // Expand & Collapse CTA
      .expand-collapse-cta {
          bottom: 3px;
          position: relative;

          button {
              background-color: #ecf0ff;
              border: none;
              border-radius: 2px;
              height: 16px;
              width: 16px;

              &.collapsed i {
                  color: #616568;
                  transform: rotate(180deg);
              }

              i {
                  color: #284ce0;
                  transition: all 0.4s ease-in-out;
              }
          }
      }

      .row-2-wrapper {
          button {
              align-items: center;
              background: none;
              border: none;
              display: flex;
              outline: none;
              padding: 0px;

              img {
                  height: 15px;
              }
          }
      }
  }
}

// .word-wrap {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// Expand | Collapse Bar
.collapse-expand-bar-wrapper {
  bottom: 0px;
  position: absolute;
  width: 100%;

  button {
      background: none;
      border: none;
      height: 5px;
      outline: none;
      padding: 0px;
      width: 100%;

      span {
          background: #c2c9d1;
          display: block;
          height: 2px;
          margin: 0px;
          width: 12px;
      }
  }
}
