<!-- COMPONENT: MODAL FORM-->
<div class="modal-header">
    <h5 class="modal-title">Peg Opportunity Details</h5>
    <button type="button" class="close" (click)="closeForm()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="height: 500px;">
    <iframe
     width="100%" height="100%" frameborder="0"
        [src]="urlSafe"
        style="
        background: white;"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        id="pegIframe"
        #loginIframe>
    <!-- <meta http-equiv="X-Frame-Options" content="ALLOW-FROM https://pegdev.bain.com:443">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN"> -->
    </iframe>
</div>