<div class="share-with-menu">
  <div class="header">
    <button *ngIf="openSpecificusers" (click)="toggleSpecificUsers()">
      <div class="icon-wrapper">
        <i class="fa fa-arrow-left"></i>
      </div>
    </button>

    <p>{{ openSpecificusers ? "Specific Users" : "Who can see this note?" }}</p>
  </div>

  <!-- Share Options -->
  <div class="options" *ngIf="!openSpecificusers">
    <!-- Only Me & All Users -->
    <div class="option" *ngFor="let option of options | slice: 0:2">
      <label (click)="handleSharingOption(option)">
        <div class="icon-wrapper">
          <i class="fa fa-{{ option.icon }}"></i>
        </div>
        <p>{{ option.label }}</p>
        <input type="radio" name="radio" [checked]="option.checked" />
      </label>
    </div>

    <div class="option" *ngFor="let option of options | slice: 2:3">
      <button class="d-flex align-items-center" (click)="toggleSpecificUsers()">
        <div class="icon-wrapper">
          <i class="fa fa-user"></i>
        </div>

        <p>{{ option.label }}</p>
        <i class="fa fa-sort-down right-arrow"></i>
      </button>
    </div>
  </div>

  <div class="specific-users" *ngIf="openSpecificusers">
    <!-- Search input -->
    <div class="search-wrapper">
      <div class="d-flex align-items-center">

        <input type="text" *ngIf="asyncResourceString" name="resource" [(ngModel)]="asyncResourceString">

        <ng-select *ngIf="!asyncResourceString" name="resources" placeholder="Search resources..."
          [items]="resourcesData$ | async" [(ngModel)]="selectedUsers" [multiple]="true" [hideSelected]="true"
          [minTermLength]="3" (search)="onResourceSearchChange($event)" (change)="selectedResourcesChange($event)"
          bindLabel="employeeSearchData" bindValue="fullName" [isOpen]="isResourceSearchOpen">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-icon left" (click)="clear(item)" aria-hidden="true">x</span>
              <span class="ng-value-label">
                {{item.fullName}}
              </span>
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{item.fullName + ' (' + item.levelGrade+ ' - '+ item.schedulingOffice.officeName + ')'}}
          </ng-template>
        </ng-select>

      </div>
    </div>

    <!-- Specified Users -->
    <div class="users-wrapper">
      <p class="share-with">Share with:</p>

      <!-- Specific Users -->
      <div class="users-added">
        <div class="user d-flex align-items-center" *ngFor="let user of usersAdded; let userIndex = index">
          <p>{{ user.fullName }}</p>

          <button class="d-flex align-items-center justify-content-center" (click)="deleteUser(user, userIndex)">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer d-flex align-items-center">
      <button class="secondary ml-auto" (click)="toggleSpecificUsers()">
        Cancel
      </button>
      <button class="primary" (click)="saveAddedusers()" [disabled]="usersAdded.length < 1">Save</button>
    </div>
  </div>
</div>
