* {
  margin: 0px;
}

// Main Menu
.share-with-menu {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  width: 100%;

  .icon-wrapper {
    align-items: center;
    background-color: #e0e4e8;
    border-radius: 50px;
    display: flex;
    height: 15px;
    justify-content: center;
    width: 16px;

    i {
      color: #616568;
      font-size: 7px;
    }
  }

  .header {
    border-bottom: 1px solid #e0e4e8;
    color: #121212;
    font-size: 10px;
    font-weight: 500;
    padding: 6px;
    position: relative;
    text-align: center;

    .icon-wrapper {
      background-color: #f7f9ff;
    }

    button {
      background: none;
      border: none;
      bottom: 4px;
      left: 6px;
      padding: 0px;
      position: absolute;

      i {
        color: #000;
      }
    }
  }

  // Only Me & All Users
  .options {
    .option {
      height: 24px;
      padding: 0px 6px;

      &:hover {
        background-color: #f7f9ff;
      }

      p {
        color: #121212;
        font-size: 10px;
        margin-left: 5px;
      }

      label {
        align-items: center;
        background: none;
        cursor: pointer;
        display: flex;
        height: 100%;

        input {
          accent-color: #284ce0;
          cursor: pointer;
          margin-left: auto;
        }
      }

      button {
        background: none;
        border: none;
        height: 100%;
        padding: 0px;
        width: 100%;

        .right-arrow {
          color: #616568;
          margin: 0px 6px 0px auto;
          transform: rotate(-90deg);
        }
      }
    }
  }

  // Sepcific Users
  .specific-users {
    padding: 4px 6px;

    .search-wrapper {
      position: relative;

      .search-input {
        border: 1px solid #e0e4e8;
        border-radius: 2px;
        height: 24px;
        width: 100%;

        i {
          color: #000;
          font-size: 9px;
          margin: 0px 6px;
        }

        input {
          background: none;
          border: none;
          color: #121212;
          font-size: 10px;
          height: 100%;
          outline: none;
          width: 100%;

          &:focus {
            border: none;
            outline: none;
          }
        }
      }

      // User search results
      .results-list {
        background-color: #fff;
        box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.15);
        max-height: 90px;
        left: 0px;
        overflow-y: auto;
        position: absolute;
        top: calc(100% + 2px);
        width: 100%;
        z-index: 10;

        button {
          align-items: center;
          background: #fff;
          border: none;
          display: flex;
          height: 24px;
          padding: 0px 16px;
          width: 100%;

          &:hover {
            background: #f7f9ff;
          }
        }
      }
    }

    // Users
    .users-wrapper {
      margin: 10px 0px;
      height: 70px;

      // Share with:
      .share-with {
        color: #000;
        font-size: 10px;
        font-weight: 500;
      }

      // Users added
      .users-added {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-top: 5px;
        max-height: 70px;
        overflow-y: auto;

        .user {
          background-color: #ecf0ff;
          border-radius: 2px;
          color: #616568;
          font-size: 8px;
          gap: 4px;
          height: 16px;
          padding: 0px 6px 0px 4px;

          p {
            font-weight: 500;
          }

          button {
            background: none;
            border: none;
            padding: 0px;

            i {
              transform: rotate(45deg);
            }
          }
        }
      }
    }

    // Footer
    .footer {
      border-top: 1px solid #e0e4e8;
      gap: 10px;
      padding-top: 6px;

      button {
        align-items: center;
        background: none;
        border: none;
        border-radius: 2px;
        display: flex;
        font-size: 8px;
        font-weight: 500;
        height: 16px;
        justify-content: center;

        &.primary {
          background: #284ce0;
          color: #fff;
          padding: 0px 20px;

          &:disabled {
            opacity: 0.5;
          }
        }

        &.secondary {
          color: #284ce0;
          padding: 0px;
        }
      }
    }
  }
}

.ng-select {
  display: contents !important;
}
