<div class="project-header">
  <div class="case">
      <div class="case-container">
          <div class="case__image">
              <img src="assets/img/network-dark.svg" alt="people network" />
          </div>
          <ng-container *ngIf="projectHeaderDetails.type">
              <app-project-action-panel
                  *appFeaturesAccess="accessibleFeatures.caseActionsPanel"
                  [showCaseRoll]="projectHeaderDetails.type !== 'Opportunity'"
                  [emailTo]="activeResourcesEmailAddresses"
                  [isPinned]="isPinned"
                  [isHidden]="isHidden"
                  [isCaseOnRoll]="isCaseOnRoll"
                  [showplaceholder]="showPlaceholder"
                  [showShareUrlIcon]="showShareUrlIcon"
                  [shareUrl]="shareUrl"
                  [trigerredByEvent]="trigerredByEvent"
                  (togglePinEmitter)="onTogglePinHandler($event)"
                  (toggleHideEmitter)="onToggleHideHandler($event)"
                  (caseRollEmitter)="onCaseRollHandler()"
                  (openPlaceHolderFormEmitter)="openPlaceHolderFormhandler()"
              >
              </app-project-action-panel>
          </ng-container>
      </div>

      <div class="case-wrapper">
          <div class="case__title">
              <h4>{{ projectTitle }}</h4>
          </div>
          <div class="case__block">
              <div class="case__card">
                  <div class="case__details">
                      <h4>Client</h4>
                      <p class="case__details--client">{{ projectHeaderDetails.clientName }}</p>
                  </div>
                  <ng-container *ngIf="projectHeaderDetails.type !== 'Opportunity'; else oppPartner">
                      <div class="case__details">
                          <h4>Billing Partner</h4>
                          <p>
                              {{ projectHeaderDetails.caseBillingPartnerFullName }} -
                              {{ projectHeaderDetails.caseBillingPartnerOfficeAbbreviation }}
                          </p>
                      </div>
                      <div class="case__details mb-0">
                          <h4>Case Manager</h4>
                          <p>
                              {{ projectHeaderDetails.caseManagerFullName }} -
                              {{ projectHeaderDetails.caseManagerOfficeAbbreviation }}
                          </p>
                      </div>
                  </ng-container>
              </div>

              <div [ngClass]="caseRoleAllocations?.length > 0 ? 'case__split' : 'case__card'">
                  <div
                      [ngClass]="
                          caseRoleAllocations?.length > 0
                              ? 'case__card case__card--two-grid upper_grid'
                              : 'case__card--two-grid upper_grid'
                      "
                  >
                      <div class="case__details">
                          <h4>Billing Office</h4>
                          <p>{{ projectHeaderDetails.billingOfficeName }}</p>
                      </div>
                      <div class="case__details">
                          <h4>Managing Office</h4>
                          <p>{{ projectHeaderDetails.managingOfficeName }}</p>
                      </div>
                  </div>

                  <div class="case__card case__card--grid lower_grid" *ngIf="caseRoleAllocations?.length > 0">
                      <div class="case__details" *ngFor="let item of caseRoleAllocations">
                          <h4>{{ item.title }}</h4>
                          <p class="case__details--case-role" title="{{ item.data }}">
                              {{ item.data }}
                          </p>
                      </div>
                  </div>
              </div>
              <ng-container *ngIf="projectHeaderDetails.type !== 'Opportunity'; else oppStatus">
                  <div class="case__card case__card--grid">
                      <div class="case__details">
                          <h4>Case Code</h4>
                          <p>{{ projectHeaderDetails.oldCaseCode }}</p>
                      </div>
                      <div class="case__details">
                          <h4>Case Type</h4>
                          <p>{{ projectHeaderDetails.caseType }}</p>
                      </div>
                      <div class="case__details">
                          <h4>Start Date</h4>
                          <p>{{ projectHeaderDetails.startDate }}</p>
                      </div>
                      <div class="case__details">
                          <h4>End Date</h4>
                          <p>{{ projectHeaderDetails.endDate }}</p>
                      </div>
                      <div class="case__details">
                          <h4>Case served by the PEG ringfence</h4>
                      </div>
                      <div class="case__details" [appFeatureDisabled]="accessibleFeatures.casesServedByRingfence">
                          <mat-slide-toggle
                              [checked]="projectHeaderDetails.caseServedByRingfence"
                              (change)="toggleCaseServedByRF($event)"
                          >
                          </mat-slide-toggle>
                      </div>
                  </div>
              </ng-container>
              <div class="case__card case__card--two-grid">
                  <div class="case__details">
                      <h4>Industry Practice Area</h4>
                      <p>{{ projectHeaderDetails.industryPracticeArea }}</p>
                  </div>
                  <div class="case__details">
                      <h4>Primary Industry</h4>
                      <p>{{ projectHeaderDetails.primaryIndustry }}</p>
                  </div>
                  <div class="case__details">
                      <h4>Capability Practice Area</h4>
                      <p>{{ projectHeaderDetails.capabilityPracticeArea }}</p>
                  </div>
                  <div class="case__details">
                      <h4>Primary Capability</h4>
                      <p>{{ projectHeaderDetails.primaryCapability }}</p>
                  </div>
              </div>

              <!-- For Attributes -->
              <div class="case__card case__card--two-grid" *ngIf="caseAttributes">
                  <div class="case__details">
                      <h4>Attributes
                        <!-- <app-tooltip [message]="caseAttributesTooltipMessage" width="15"></app-tooltip> -->
                        <i class="fas fa-info-circle info-icon-pad"
                                title="Atrributes shared with staffing are not inclusive and include..."></i>
                      </h4>
                      
                      <!-- Using mock attributes - remove when ready -->
                      <ul>
                          <li *ngFor="let attribute of caseAttributes">{{ attribute }}</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<ng-template #oppPartner>
  <div class="case__details">
      <h4>Billing Partner</h4>
      <p>{{ projectHeaderDetails.billingPartnerName }} - {{ projectHeaderDetails.billingOfficeAbbreviation }}</p>
  </div>
  <div class="case__details mb-0">
      <h4>Coordinating Partner</h4>
      <p>
          {{ projectHeaderDetails.coordinatingPartnerName }} - {{ projectHeaderDetails.managingOfficeAbbreviation }}
      </p>
  </div>
  <div class="case__details mt-1">
      <h4>Other Partners</h4>
      <p
          class="case__details--other-partner"
          title="{{ projectHeaderDetails.otherPartnersNamesWithOfficeAbbreviations }}"
      >
          {{ projectHeaderDetails.otherPartnersNamesWithOfficeAbbreviations }}
      </p>
  </div>
</ng-template>
<ng-template #oppStatus>
  <div class="case__card case__card--grid">
      <div class="case__details">
          <h4>Case Code</h4>
          <p>N/A</p>
      </div>
      <div class="case__details">
          <h4>Case Type</h4>
          <p>Opportunity</p>
      </div>
      <div class="case__details" [appFeatureDisabled]="accessibleFeatures.opportunityChanges">
          <h4>Start Date</h4>
          <div
              #startDateParentDiv
              class="inline-editable inline-editable-text"
              [class.error]="
                  projectHeaderDetails.startDate === null ||
                  projectHeaderDetails.startDate === '' ||
                  !oppStartDateValidationObj.isValid
              "
              (click)="editProbabilityStartDate($event)"
          >
              <div>
                  <label>{{ projectHeaderDetails.startDate }}</label>
                  <input
                      type="text"
                      placeholder="dd-mmm-yyyy"
                      #oppStartDate
                      [ngModel]="projectStartDate"
                      [bsConfig]="bsConfig"
                      (keydown.Tab)="onTabbingFromStartDate($event)"
                      (ngModelChange)="onOppStartDateChange($event)"
                      (blur)="disableOppStartDateEdit($event)"
                      bsDatepicker
                      #startDatepicker="bsDatepicker"
                  />
                  <i class="fa fa-calendar-alt edit-icon"></i>
                  <div class="error-message row" *ngIf="oppStartDateValidationObj.showMessage">
                      <span class="col-10"> {{ oppStartDateValidationObj.errorMessage }}</span>
                      <i
                          class="fa fa-times clickable hide-error col-1"
                          (click)="hideValidationMessage('probabilityStartDate', $event)"
                      ></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="case__details" [appFeatureDisabled]="accessibleFeatures.opportunityChanges">
          <h4>End Date</h4>
          <div
              class="inline-editable inline-editable-text"
              [class.active]="editableCol == 'probabilityEndDate'"
              [class.error]="
                  projectHeaderDetails.endDate === null ||
                  projectHeaderDetails.endDate === '' ||
                  !oppEndDateValidationObj.isValid
              "
              (click)="editProbabilityEndDate($event)"
          >
              <div>
                  <label>{{ projectHeaderDetails.endDate }}</label>
                  <input
                      type="text"
                      placeholder="dd-mmm-yyyy"
                      #oppEndDate
                      [ngModel]="projectEndDate"
                      [bsConfig]="bsConfig"
                      (keydown.Tab)="onTabbingFromEndDate($event)"
                      (ngModelChange)="onOppEndDateChange($event)"
                      (blur)="disableOppEndDateEdit($event)"
                      bsDatepicker
                      #endDatepicker="bsDatepicker"
                  />
                  <i class="fa fa-calendar-alt edit-icon"></i>
                  <div class="error-message row" *ngIf="oppEndDateValidationObj.showMessage">
                      <span class="col-10">{{ oppEndDateValidationObj.errorMessage }}</span>
                      <i
                          class="fa fa-times clickable hide-error col-1"
                          (click)="hideValidationMessage('probabilityEndDate', $event)"
                      ></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="case__details" [appFeatureDisabled]="accessibleFeatures.opportunityChanges">
          <h4>Probability %</h4>
          <div
              class="inline-editable inline-editable-text"
              [class.active]="editableCol == 'probabilityPercent'"
              [class.error]="!oppPercentValidationObj.isValid"
              (click)="editProbabilityPercent($event)"
          >
              <div>
                  <label>{{ projectHeaderDetails.probabilityPercent }}</label>
                  <input
                      #probabilityPercent
                      type="text"
                      [(ngModel)]="projectHeaderDetails.probabilityPercent"
                      (change)="onOppPercentChange($event)"
                      (blur)="disableEdit($event)"
                  />
                  <i class="fa fa-pencil-alt edit-icon"></i>

                  <div class="error-message row" *ngIf="oppPercentValidationObj.showMessage">
                      <span class="col-10">{{ oppPercentValidationObj.errorMessage }}</span>
                      <i
                          class="fa fa-times clickable hide-error col-1"
                          (click)="hideValidationMessage('probabilityPercent', $event)"
                      ></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="case__details">
          <h4>Opportunity Status</h4>
          <p>{{ projectHeaderDetails.opportunityStatus }}</p>
      </div>
  </div>
</ng-template>
