<div
    class="commitment d-flex align-items-center"
    [ngClass]="className ? className : 'start-1 duration-1'"
    [ngStyle]="{ 'left.px': offsetLeft }"
    [style.cursor]="getFeatureName(commitment) ? 'default' : 'pointer'"
    title="{{ toolTipText }}"
    (click)="handleCommitmentClick($event)"
    [contextMenu]="basicMenu"
    [contextMenuSubject]="commitment"
    ngResizable
    [rzContainment]="bounds"
    (rzStart)="onResizeStart($event)"
    (rzStop)="onResizeStop($event)"
    [rzGrid]="[gridSize, 0]"
    [rzMinWidth]="gridSize"
    [rzHandles]="'e,w'"
>
    <div *ngIf="isCommitmentAccessible(commitment)"       
        class="word-wrap"
    >
        <!-- <i class="fas fa-times"></i> -->

        <!--Allocations-->
        <div *ngIf="commitment.commitmentTypeName === 'Allocation'">
            <div class="title">
                <a
                    title="{{ commitmentDescription }} | {{
                        commitment.clientName
                    }}"
                    href="javascript:void(0);"
                    class="allocation-title"
                    (click)="openCaseDetailsDialogHandler()"
                >
                    {{ commitmentDescription }} | {{ commitment.clientName }}
                </a>
            </div>
        </div>

        <!--Other Commitments-->
        <div
            *ngIf="commitment.commitmentTypeName !== 'Allocation'"
            class="subheader no-allocation word-wrap"
        >
            {{  commitmentDescription }}
        </div>
    </div>
    <div *ngIf="!isCommitmentAccessible(commitment)">
      <!--Allocations-->
      <div *ngIf="commitment.commitmentTypeName === 'Allocation'">
        <div class="title">
            <a
                title="{{ commitmentDescription }} | {{
                    commitment.clientName
                }}"
                href="javascript:void(0);"
                class="allocation-title"
                (click)="openCaseDetailsDialogHandler()"
            >
                {{ commitmentDescription }} | {{ commitment.clientName }}
            </a>
        </div>
    </div>

    <!--Other Commitments-->
    <div
        *ngIf="commitment.commitmentTypeName !== 'Allocation'"
        class="subheader no-allocation word-wrap"
    >
        {{  commitmentDescription }}
    </div>
    </div>
</div>

<context-menu [disabled]="(isRowCollapsed || commitment.commitmentTypeName != 'Allocation' || !isContextMenuAccessible(commitment))">
    <ng-template
        contextMenuItem
        (execute)="contextMenuHandler($event, commitment)"
    >
        Split Allocation
    </ng-template>
    <!-- <ng-template contextMenuItem divider="true"></ng-template> -->
</context-menu>
