<section *ngIf="project" id="{{project.oldCaseCode ? project.oldCaseCode : project.pipelineId}}"
  (drop)="dropProjectEventHandler($event)">
  <div class="project"
    [ngClass]="{'accent-1':projectType === 'Opportunity', 'accent-2':projectType === 'NewDemand', 'accent-3':projectType === 'ActiveCase' }">
    <header>
      <!--Component Slide Out Actions-->
      <app-project-action-panel [showEllipsis]="true" [showplaceholder]="true"
        [showCaseRoll]="projectType != 'Opportunity'" [emailTo]="activeResourcesEmailAddresses"
        [isPinned]="project.isProjectPinned" [isCaseOnRoll]="project.caseRoll" [showQuickPeek]="true"
        (openQuickPeekIntoReosurcesCommitments)="quickPeekIntoResourcesCommitmentsHandler()"
        (togglePinEmitter)="onTogglePinHandler($event)" (addPlaceHolderEmitter)="onAddPlaceHolderHandler($event)"
        (toggleHideEmitter)="onToggleHideHandler($event)" (caseRollEmitter)="onCaseRollHandler($event)">
      </app-project-action-panel>

      <!--End Component Slide Out Actions-->

      <div class="row no-gutters">
        <a class="col name pointer-cursor" [title]="projectTitle" tabindex="-1"
          (click)="openProjectDetailsDialogHandler(project)">
          {{projectTitle}}
        </a>
      </div>

      <div class="row details">

        <i class="fas" [ngClass]="project.notes ? 'fa-edit' : 'fa-plus'"
          title="{{project.notes ? project.notes : 'Add notes'}}"
          (click)="openEditNotesDialog()"></i>

        <i class="fas fa-users action_icon action_icon--plum"  *ngIf="project.allocatedResources?.length === 1 && project.startDate" title="Add Persistent Team"
          (click)="openPersistentTeamPopupHandler()"></i>

        <div class="col text-left" *ngIf="project.endDate">
          <i (click)="toggleSkuSizeDiv(project)" *ngIf="project.skuCaseTerms" class="fa fa-user mr-2"></i>

          {{project.startDate | date:'dd-MMM-yyyy'}} - {{project.endDate | date:'dd-MMM-yyyy'}}
        </div>

        <div class="col text-left" *ngIf="!project.endDate">
          <i (click)="toggleSkuSizeDiv(project)" *ngIf="project.skuCaseTerms" class="fa fa-user mr-2"></i>

          {{project.startDate | date:'dd-MMM-yyyy'}}
        </div>

        <div class="col text-right">
          <i *ngIf="projectType != 'Opportunity'" [ngClass]="project.caseRoll ? 'case-roll' : 'not-case-roll'"
            (click)="onCaseRollHandler()"></i>

          <i [ngClass]="project.isProjectPinned ? 'fas fa-thumbtack' : ''"
            (click)="onTogglePinHandler(!project.isProjectPinned)"></i>

          <span class="location text-right"> {{project.managingOfficeAbbreviation}} </span>
        </div>

      </div>
    </header>

    <div class="content">
      <div *ngIf="project.skuCaseTerms" class="row no-gutters sku-details" [class.active]="showSKUTerms">
        <div class="col">
          <span class="title">
            {{project.skuCaseTerms.effectiveDate}}:
          </span>
          {{skuTerm}}
        </div>
      </div>
      <!-- created independent content dragbox and placeholder dragbox to prevent drag overlap issue-->
      <!-- placeholder dragbox -->
      <div class="row no-gutters" id="placeholderId" *ngIf="project.placeholderAllocations.length > 0">
        <div class="placeholder__list"
          *ngFor="let placeholderAllocation of project.placeholderAllocations; index as index"
          style="display: flex;width: 100%;" [project]="project"
          (confirmPlaceholderAllocationEmitter)="confirmPlaceholderAllocationHandler($event)"
          (upsertPlaceholderAllocationEmitter)="upsertPlaceholderAllocationHandler($event)"
          (openResourceDetailsDialog)="openResourceDetailsDialogHandler($event)"
          (tabbingFromAllocation)="tabbingFromAllocationHandler($event)"
          (tabbingFromEndDate)="tabbingFromEndDateHandler($event)"
          (removePlaceHolder)="removePlaceHolderEmitterHandler($event)" #projectResourceComponent app-project-resource
          [placeholderAllocation]="placeholderAllocation" [projectResourceComponentIndex]="index"></div>
      </div>

      <!-- content dragbox -->
      <div cdkDropList [cdkDropListData]="project.allocatedResources" (cdkDropListDropped)="onResourceDrop($event)"
        class="row no-gutters card-content-area">
        <div class="row no-gutters project-index-{{projectIndex}}"
          *ngFor="let allocatedResource of project.allocatedResources; index as index"
          style="display: flex;width: 100%;" #projectResourceComponent app-project-resource
          [userAllocation]="allocatedResource" [projectResourceComponentIndex]="index"
          (updateResourceToProject)="updateResourceToProjectHandler($event)"
          (upsertResourceAllocationsToProject)="upsertResourceAllocationsToProjectHandler($event)"
          (tabbingFromAllocation)="tabbingFromAllocationHandler($event)"
          (tabbingFromEndDate)="tabbingFromEndDateHandler($event)"
          (openResourceDetailsDialog)="openResourceDetailsDialogHandler($event)" [cdkDragData]="allocatedResource"
          cdkDrag [cdkDragDisabled]="!allocatedResource.id" (mousedown)="caseDragMouseDown(allocatedResource.id)">
        </div>
        <!-- <div [style.height.px]="200-(project.allocatedResources.length*30)"></div> -->
      </div>
    </div>


    <!-- TODO: Move this to sepearte component for reusablity once th emrge by drag drop is in place
      Placeholder card -->
    <!-- <div class="card-placeholder__backdrop" *ngIf="isCardMerge"></div>
    <div class="card-placeholder__dialog" *ngIf="isCardMerge">
      <div class="card-placeholder__input">
        <p>Are you sure you want to merge with this case?</p>
      </div>
      <div class="card-placeholder__cta">
        <button class="card-placeholder__button card-placeholder__button--secondary mr-5"
          (click)="onMergeCardToggle()">No</button>
        <button class="card-placeholder__button" (click)="mergeCardSignal()">Yes</button>
      </div>
    </div> -->
  </div>
</section>
