<div
    class="drawer case__list"
    [class.small]="iconSizes === 'small'">
    <!-- Email -->
    <div
        *ngIf="allowEmail"
        class="case__item case__item--red"
        [class.small]="iconSizes === 'small'">
        <a
            href="mailto:{{ emailTo }}?subject=Staffing:"
            class="email-icon"
            title="Email team">
            <i class="far fa-envelope"></i>
        </a>
    </div>

    <!-- Pin -->
    <div
        *ngIf="allowPin"
        class="case__item case__item--blue"
        [class.small]="iconSizes === 'small'">
        <button title="Pin Project">
            <i
                class="fas fa-thumbtack"
                [ngClass]="isPinned ? 'pinned' : ''"
                (click)="togglePin()"></i>             
        </button>
    </div>

    <!-- Hide -->
    <div
        *ngIf="allowHide"
        class="case__item case__item--blue"
        [class.small]="iconSizes === 'small'">
        <button
            title="Hide Project"
            (click)="toggleHide()">
            <i
                class="far fa-eye-slash"
                [ngClass]="isHidden ? 'hidden' : ''"></i>
        </button>
    </div>

    <!-- Case Roll -->
    <div
        *ngIf="showCaseRoll"
        class="case__item case__item--yellow"
        [class.small]="iconSizes === 'small'">
        <button
            title="Case Roll"
            (click)="onCaseRollClick()">
            <i [class]="isCaseOnRoll ? 'case-rolled' : 'case-roll'"></i>
        </button>
    </div>

    <!-- Merge -->
    <div
        *ngIf="showMergeIcon"
        class="case__item case__item--green"
        [class.small]="iconSizes === 'small'">
        <a
            href="javascript:void(0)"
            class="case-icon"
            title="Merge Allocations"
            (click)="toggleMergeDialog()">
            <svg
                width="86%"
                height="86%"
                viewBox="0 0 36 36"
                fill="none">
                <rect
                    class="case-icon--line"
                    x="6"
                    y="10"
                    width="24"
                    height="17"
                    rx="3"
                    stroke="#20B66B"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <line
                    class="case-icon--line"
                    x1="9.75"
                    y1="14.3269"
                    x2="19.2102"
                    y2="14.3269"
                    stroke="#20B66B"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <line
                    class="case-icon--line"
                    x1="9.75"
                    y1="20.4808"
                    x2="17.895"
                    y2="20.4808"
                    stroke="#20B66B"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    class="case-icon--line"
                    d="M23.4409 20.908H24.8569V18.568H27.0169V17.26H24.8569V14.92H23.4409V17.26H21.2809V18.568H23.4409V20.908Z"
                    fill="#20B66B" />
            </svg>
        </a>
    </div>

    <!-- Add Placeholder -->
    <div
        *ngIf="showplaceholder"
        class="case__item case__item--purple"
        [class.small]="iconSizes === 'small'">
        <button
            title="Add Placeholder"
            (click)="addPlaceHolder()">
            <i class="fas fa-user-plus"></i>
        </button>
    </div>

    <!-- Share -->
    <div
        *ngIf="showShareIcon"
        class="case__item case__item--plum"
        [class.small]="iconSizes === 'small'">
        <button
            title="Share Planning Card"
            (click)="sharePlaceHolder()">
            <i class="fas fa-share-alt"></i>
        </button>
    </div>

    <!-- Share #2 -->
    <div
        *ngIf="showShareUrlIcon"
        class="case__item case__item--plum"
        [class.small]="iconSizes === 'small'">
        <a
            id="lnkMail"
            href="mailto:?subject=Staffing:&body={{ this.shareUrl }}"
            title="Share URL"
            tabindex="-1">
            <i class="fas fa-share-alt"></i>
        </a>
    </div>

    <!-- Delete -->
    <div
        *ngIf="showCardDeleteIcon"
        class="case__item case__item--black"
        [class.small]="iconSizes === 'small'">
        <button
            title="Remove card"
            (click)="onDeleteCardClick()">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <!-- Quick Peek -->
    <div
        *ngIf="showQuickPeek"
        class="case__item case__item--yellow"
        [class.small]="iconSizes === 'small'">
        <button
            title="Quick Peek"
            (click)="onQuickPeekClick()">
            <i class="fas fa-info-circle"></i>
        </button>
    </div>
</div>
