.modal-body {
    max-height: 70vh;
    overflow-y: auto;
  }

  .grid-title {
    color: black
  }

  .left-align {
    float: left;
  }

  .text-left-align {
    text-align: left;
  }

  .export-title {
    font-weight: bold;
    text-decoration: underline;
  }

  .export-options {
    font-size: 13px;
    font-weight: bold;
  }

  .modal-container-height {
    min-height: 70vh;
  }

  .modal-container-body-height {
    min-height: 70vh;
  }