.resource-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.75rem;

  @media only screen and (max-width: 1280px) {
      font-size: 1.275rem;
  }
}

.resource-code {
  font-size: 1.75rem;

  @media only screen and (max-width: 1280px) {
      font-size: 1.275rem;
  }
}

.resource-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 150px auto;

  .resource-affiliation-wrapper {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      row-gap: 40px;

      // Adjusted Styling
      .resource-detail-wrapper {
          font-family: "Graphik";
          display: flex;
          flex-direction: column;
          gap: 12px;

          // Header
          .header-wrapper {
              align-items: center;
              display: flex;
              gap: 4px;

              h3 {
                  color: #121212;
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 24px;
                  margin: 0px;
              }

              a {
                  img {
                      width: 34px;
                  }
              }
          }

          // Subheader
          .subheader-wrapper {
              align-items: center;
              color: #121212;
              display: flex;
              gap: 20px;

              h5 {
                  font-size: 16px;
                  font-weight: 500;
                  margin: 0px;
              }

              i {
                  font-size: 7px;
              }
          }

          // Body
          .body-wrapper {
              background: #ecf0ff;
              border-radius: 8px;
              display: flex;
              flex-direction: column;
              gap: 15px;
              padding: 12px 15px;

              .body-row {
                  display: grid;
                  gap: 20px;

                  &.grid-equal {
                      grid-template-columns: repeat(auto-fit, minmax(120px, 140px));
                  }

                  &.grid-auto {
                      grid-template-columns: 200px repeat(auto-fit, minmax(120px, 140px));
                  }

                  .body-column {
                      width: 100%;

                      p {
                          color: #121212;
                          font-size: 12px;
                          line-height: 16px;
                          margin: 0px;

                          &.header {
                              color: #616568;
                          }
                      }
                  }
              }
          }
      }

      // Affiliations
      .affiliation-wrapper {
          display: flex;
          flex-direction: column;
          gap: 12px;

          h3 {
              color: #121212;
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              margin: 0px;
          }

          // Rows
          .affiliation-row {
              display: grid;
              gap: 10px;
              grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

              // Column
              .affiliation-column {
                  width: 100%;
              }
          }
      }
  }
}

.resource-header {
  display: flex;
  flex-wrap: wrap;
}

.resource-icon {
  display: flex;
}

.max-width {
  max-width: 80%;
}
