<div id="case-roll-header" class="modal-header">
  <h5 class="modal-title">{{caseRollDialogTitle}}</h5>
  <button type="button" class="close" (click)="closeForm()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="case-roll-body" class="modal-body">
  <form class="needs-validation data-collection mt-2 mb-4" novalidate>
    <!--Region Error-->
    <div class="form-row mb-2" *ngIf="errorList.length">
      <div class="col-12 text-danger">
        <ul>
          <li *ngFor="let error of errorList">{{error}}</li>
        </ul>
      </div>
    </div>
    <!--End Region Error-->

    <div class="form-row mb-3">
      <div class="col-12 d-flex align-content-start">

        <div id="case-roll-type" class="col-6">
          <label for="caseRollType">Case Roll Type *</label>
          <select class="form-control form-control-sm" name="caseRollType" placeholder="select type"
            [disabled]="isCaseRolled && caseRollData.rolledToOldCaseCode" [(ngModel)]='selectedCaseRollOption'
            (ngModelChange)="onCaseRollTypeChange($event)">
            <option [ngValue]="caseRollOptionsEnum.RollCurrentCase">Roll Current Case</option>
            <option [ngValue]="caseRollOptionsEnum.RollTeamToNewCase">Roll Team to New Case</option>
            <option [ngValue]="caseRollOptionsEnum.RevertCaseRoll"
              *ngIf="isCaseRolled && caseRollData.rolledFromOldCaseCode">Revert Case Roll</option>
          </select>
        </div>

        <div id="case-roll-expected-end-date" class="col-6"
          *ngIf="selectedCaseRollOption === caseRollOptionsEnum.RollCurrentCase">
          <label for="expectedEndDate" [class.text-danger]="isDateInvalid">
            Expected End Date *
          </label>
          <div class="input-group">
            <input type="text" name="expectedEndDate" placeholder="dd-mmm-yyyy"
              class="form-control form-control-sm border-right-0" autocomplete="off" [bsConfig]="bsConfig"
              [(ngModel)]="expectedEndDate" [minDate]="minDate" (ngModelChange)="expectedEndDateChange()" bsDatepicker
              #dp="bsDatepicker" />
            <div id="case-roll-start-date-icon" class="input-group-append">
              <span class="input-group-text" (click)="dp.toggle()">
                <i class="fa fa-calendar-alt ngx-daterangepicker-action fa-fw"></i>
              </span>
            </div>
          </div>
        </div>

        <div id="case-roll-new-case-code" *ngIf="selectedCaseRollOption === caseRollOptionsEnum.RollTeamToNewCase"
          class="col-6">
          <label for="resource" [class.text-danger]="isNewCaseInvalid">New Case *</label>
          <input type="text" name="caseSearch" class="form-control form-control-sm"
            [disabled]="isCaseRolled && caseRollData.rolledToOldCaseCode"
            [typeaheadItemTemplate]="customProjectTypeAheadTemplate" typeaheadOptionField="caseName"
            [typeaheadOptionsLimit]="50" [typeaheadMinLength]="3" [typeaheadScrollable]="true"
            [typeaheadOptionsInScrollableView]="10" [(ngModel)]="asyncCaseString" placeholder="Search Cases..."
            autocomplete="off" [typeahead]="cases" (typeaheadOnSelect)="typeaheadOnSelect($event,'project')"
            typeaheadGroupField="projectStatus">
        </div>

      </div>
    </div>

    <!--Employee Grid-->
    <ng-container *ngIf="gridData?.length">

      <div class="form-row ml-4">
        <label for="tblCaseRollEmployees" [class.text-danger]="isAllocationNotSelected">
          Select Resources to Roll: *
        </label>
      </div>
      <div class="form-row ml-4 mr-4" style="max-height: 375px; overflow-y: auto;">

        <table id="tblCaseRollEmployees" class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th>
                <input type="checkbox" [checked]="isSelectAll" [disabled]="isAllocationGridDisabled"
                  (change)="OnSelectAllChanged($event)">
              </th>
              <th>Employee Name</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of gridData" id="row.id">
              <td>
                <input type="checkbox" [checked]="row.checked" [disabled]="isAllocationGridDisabled"
                  (change)="OnSelectRowChanged(row)">
              </td>
              <td>{{row.data.employeeName}}</td>
              <td>{{row.data.startDate | date: 'dd-MMM-yyyy'}}</td>
              <td>{{row.data.endDate | date: 'dd-MMM-yyyy'}}</td>
            </tr>
          </tbody>
        </table>

      </div>

    </ng-container>
  </form>
</div>

<div id="case-roll-footer" *ngIf="!isCaseRolled" class="modal-footer">
  <button type="button" id="closeModal" class="btn btn-sm btn-secondary" (click)="closeForm()">Cancel</button>
  <button type="button" id="btnAddCaseRoll" class="btn btn-sm btn-primary" (click)="addCaseRoll()">Add</button>
</div>

<div id="case-roll-footer" *ngIf="isCaseRolled" class="modal-footer">
  <label *ngIf="selectedCaseRollOption === caseRollOptionsEnum.RevertCaseRoll">
    NOTE: {{revertCaseRollMessage}}
  </label>
  <button type="button" id="closeModal" class="btn btn-sm btn-secondary" (click)="closeForm()">Close</button>
  <button type="button" id="btnSaveCaseRoll" *ngIf="!caseRollData?.rolledToOldCaseCode" class="btn btn-sm btn-primary"
    (click)="addCaseRoll()">Save</button>
</div>

<ng-template #customProjectTypeAheadTemplate let-model="item" let-index="index">
  <div *ngIf="model.oldCaseCode" id="{{ 'caseRollProjectSearch-option-' + index }}" class="row">
    <div class="col-10">
      <div class="row">
        <div class="color-box case"></div>
        <div class="col-7 padding-left x10 textWrap"
          title="{{model.oldCaseCode + ' - ' + model.clientName + ' - ' + model.caseName}}">
          {{model.oldCaseCode + ' - ' + model.clientName + ' - ' + model.caseName}}
        </div>
        <div class="col-1">
          {{model.managingOfficeAbbreviation}}
        </div>
        <div class="col-3">
          {{model.startDate | date:'dd-MMM-yyyy'}} - {{model.endDate | date:'dd-MMM-yyyy'}}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="model.pipelineId" id="{{ 'caseRollProjectSearch-option-' + index }}" class="row">
    <div class="col-10">
      <div class="row">
        <div class="color-box opportunity"></div>
        <div *ngIf="model.probabilityPercent" class="col-7 padding-left x10 textWrap"
          title="{{model.probabilityPercent + ' - ' + model.clientName + ' - ' + model.opportunityName}}">
          {{model.probabilityPercent + '% - ' + model.clientName + ' - ' + model.opportunityName}}
        </div>
        <div *ngIf="!model.probabilityPercent" class="col-7 padding-left x10 textWrap"
          title="{{model.clientName + ' - ' + model.opportunityName}}">
          {{model.clientName + ' - ' + model.opportunityName}}
        </div>
        <div class="col-1">
          {{model.managingOfficeAbbreviation}}
        </div>
        <div class="col-3" *ngIf="model.endDate">
          {{model.startDate | date:'dd-MMM-yyyy'}} - {{model.endDate | date:'dd-MMM-yyyy'}}
        </div>
        <div class="col-3" *ngIf="!model.endDate">
          {{model.startDate | date:'dd-MMM-yyyy'}}
        </div>
      </div>
    </div>
  </div>
</ng-template>