<div class="create-group-form">
  <h3 *ngIf="!hideTitle" class="create-group-header">{{ pageHeader }}</h3>

  <div class="error-message" *ngIf="errorMessage.length">
    <span *ngFor="let error of errorMessage">
      {{error}}
    </span>
  </div>
  <!-- Group Details -->
  <div class="create-group-name-desc-wrapper d-flex">
    <input type="text" placeholder="Group name" name="groupName" [(ngModel)]="group.name" required />
    <input type="text" placeholder="Group description" name="groupDescription" [(ngModel)]="group.description" />
  </div>

  <!-- Make Default checkbox -->
  <div class="default-checkbox-wrapper mb-5">
    <label class="container">
      Make this group my default Staffing Setting
      <input type="checkbox" name="useAsDefault" [(ngModel)]="group.isDefault" />
      <span class="checkmark"></span>
    </label>
  </div>

  <!-- Search input -->
  <div class="member-search-wrapper">
    <p>Members</p>

    <div class="search-container">
      <app-resources-typeahead [clearSearchOnSelect]="true" (onSearchItemSelect)="onSearchItemSelectHandler($event)">
      </app-resources-typeahead>
      <!-- <div class="supply-search d-flex align-items-center">
              <i class="fa fa-search mr-2"></i>
              <input
                  type="text"
                  placeholder="Search by name or e-code"
                  (keyup)="handleSearchRequest($event)"
              />
          </div> -->

      <!-- <div class="members-search-results" *ngIf="searchQuery.length >= 3">
              <ng-container *ngFor="let member of mockMembers">
                  <div
                      class="member d-flex align-items-center justify-content-between"
                      *ngIf="
                          member.name.includes(searchQuery) ||
                          member.code.includes(searchQuery)
                      "
                  >
                      <p>{{ member.name }} ({{ member.code }})</p>
                      <button (click)="addMember(member)">Add</button>
                  </div>
              </ng-container>
          </div> -->
    </div>

    <div class="added-members-list d-flex mt-3" *ngIf="group.groupMembers?.length">
      <ng-container *ngFor="let member of group.groupMembers; let i = index">
        <app-group-member [groupMember]="member"
          (deleteMemberFromGroupEmitter)="deleteMemberFromGroupHandler(member)"></app-group-member>
      </ng-container>
    </div>
  </div>
</div>
