<div class="overlay resource-overlay" [ngClass]="{ active: showOverlay }" id="user-card">
  <!-- Top -->
  <div class="top-section" [style.height.px]="height">
      <!-- Header | Breadcrumbs -->
      <header>
          <div class="header-wrapper d-flex align-items-center">
              <button (click)="closeDialog()">Staffing</button>
              <i class="fas fa-chevron-right"></i>
              <h2 *ngIf="resourceDetails?.resource">
                  {{ resourceDetails.resource.lastName + ", " + resourceDetails.resource.firstName }}
              </h2>
          </div>

          <button (click)="closeDialog()">
              <i class="fas fa-times"></i>
          </button>
      </header>

      <!-- Header | Resource Overlay -->
      <app-resource-overlay-header
          [resourceDetails]="resourceDetails"
          [activeStaffableAsRoleName]="activeStaffableAsRoleName"
      ></app-resource-overlay-header>
  </div>

  <!-- Grab Handle -->
  <div class="grab-handle-wrapper">
      <div class="grab-handle" id="gr">
          <i class="fas fa-grip-lines"></i>
      </div>
  </div>

  <div class="container-fluid" [ngStyle]="getHeight()">
      <div class="row no-gutters" id="detailtabs">
          <div class="col-12 tbs">
              <tabset #staticTabs>
                  <tab heading="Calendar" (selectTab)="populateGanttData()" active="true">
                      <div class="add-commitment-btn">
                          <button class="btn btn-default mr-3" (click)="addResourceCommitment()">
                              Add Commitment
                          </button>
                      </div>
                      <app-gantt-resource
                          *ngIf="resourceDetails?.resource"
                          [investmentCategories]="investmentCategories"
                          [caseRoleTypes]="caseRoleTypes"
                          [resource]="resourceDetails.resource"
                          [commitmentTypes]="commitmentTypes"
                          [commitmentStartDate]="commitmentStartDate"
                          [calendarRadioSelected]="calendarRadioSelected"
                          (getCommitmentForEmployeeOnOrAfterSelectedDate)="
                              getCommitmentForEmployeeOnOrAfterSelectedDateHandler($event)
                          "
                          (openQuickAddForm)="openQuickAddFormHandler($event)"
                          (updateResourceCommitment)="updateResourceCommitmentHandler($event)"
                          (upsertResourceAllocationsToProject)="upsertResourceAllocationsToProjectHandler($event)"
                          (deleteResourceAllocationFromCase)="deleteResourceAllocationFromCaseHandler($event)"
                          (deleteResourceCommitment)="deleteResourceCommitmentHandler($event)"
                          (oldCaseCodeToOpen)="oldCaseCodeToOpenHandler($event)"
                          (changeCalendarOption)="changeCalendarOptionHandler($event)"
                          (openSplitAllocationDialog)="openSplitAllocationDialogHandler($event)"
                          (openUpdateAllocationsDatesDialog)="openUpdateAllocationsDatesDialogHandler($event)"
                          (deleteSelectedProjectsConfirmationDialog)="
                              deleteSelectetAllocationsCommitmentsConfirmation($event)
                          "
                      >
                      </app-gantt-resource>
                  </tab>

                  <tab heading="Cases" (selectTab)="getStaffingHistoryForEmployee()">
                      <div class="tab-content tab-content-projects" class="h-100">
                          <div class="add-commitment-btn">
                              <button class="btn btn-default mr-3" (click)="addResourceCommitment()">
                                  Add Commitment
                              </button>
                          </div>
                          <ag-grid-angular
                              class="ag-theme-balham ag-height"
                              [rowData]="agGridRowData"
                              [columnDefs]="columnDefs"
                              [defaultColDef]="defaultColDef"
                              (firstDataRendered)="onFirstDataRendered($event)"
                              (cellClicked)="openProjectDetailsDialog($event)"
                              [enableCellChangeFlash]="true"
                              [animateRows]="true"
                              [accentedSort]="true"
                              (cellValueChanged)="onCellValueChanged($event)"
                              [components]="components"
                              [singleClickEdit]="true"
                              [gridOptions]="gridOptions"
                              [getContextMenuItems]="getContextMenuItems"
                              rowSelection="multiple"
                              (gridReady)="onGridReady($event)"
                              [stopEditingWhenGridLosesFocus]="true"
                          >
                          </ag-grid-angular>
                      </div>
                  </tab>

                  <tab heading="About" class="about-tab-height" (selectTab)="getResourceAboutData()">
                      <div class="tab-content tab-content-projects">
                          <app-about
                              [levelGradeHistoryData]="levelGradeHistoryData"
                              [languages]="languages"
                              [tranferData]="tranferData"
                              [certificates]="certificates"
                              [employeeSchoolHistory]="employeeSchoolHistory"
                              [employeeWorkHistory]="employeeWorkHistory"
                              [staffableAsRoles]="staffableAsRoles"
                              (removeStaffableAsRoleEventEmitter)="removeStaffableAsRoleEventEmitterHandler($event)"
                              (upsertStaffableAsRoleEventEmitter)="upsertStaffableAsRoleEventEmitterHandler($event)"
                              [isLoading]="isLoading"
                          >
                          </app-about>
                          <div *ngIf="this.apiDown" class="serviceNotAvailable">IRIS SERVICE NOT AVAILABLE</div>
                      </div>
                  </tab>

                  <tab
                      heading="Preferences"
                      (selectTab)="getEmployeeStaffingPreferences()"
                      class="tab-pane preference-tab-pane"
                  >
                      <app-preferences
                          *ngIf="employeeStaffingPreferences?.length > 0"
                          [employeeStaffingPreferences]="employeeStaffingPreferences"
                          (updateEmployeeStaffingPreferences)="updateEmployeeStaffingPreferencesHandler($event)"
                      >
                      </app-preferences>
                  </tab>

                  <tab
                      heading="Notes"
                      *appFeaturesAccess="appScreens.feature.resourceNotes"
                      (selectTab)="getResourceNotes()"
                      (selectTab)="getSmapMissionNotes()"
                  >
                    <div class="smapNotes" *ngIf="smapMissionNotes">
                        
                        <ul>
                            <h5><b>Affiliate Mission</b></h5>
                            <li><b>Mission Status: </b>{{smapMissionNotes?.missionStatus}}</li>
                            <li><b>Affiliation during last Missions cycle:</b></li>
                            <ul>
                                <li><b>L1 practices: </b>{{smapMissionNotes?.l1Affiliation}}</li>
                                <li><b>L2 practices: </b>{{smapMissionNotes?.l2Affiliation}}</li>
                            </ul>
                            <li><b>What I want to be known for: </b>{{smapMissionNotes?.whatIWantToBeKnownFor}}</li>
                            <li><b>Expertise spikes to build:</b></li>
                            <ul>
                                <li><b>Capability/Solution: </b>{{smapMissionNotes?.capabilityToBuild}}</li>
                                <li><b>Industry/Sector: </b>{{smapMissionNotes?.industryToBuild}}</li>
                            </ul>
                            <li><b>Priorities for the next 12 months:</b></li>
                            <ul>
                                <li><b>Develop Expertise: </b>{{smapMissionNotes?.developExpertise}}</li>
                                <li><b>Build firm for furture: </b>{{smapMissionNotes?.buildFirmForFuture}}</li>
                                <li><b>Generate demand: </b>{{smapMissionNotes?.generateDemand}}</li>
                            </ul>
                        </ul>
                    </div>
                      <app-shared-gantt-notes *ngIf="resourceDetails?.resource"
                            [notes]="resourceNotes"
                            [rowIndex]="rowIndex" 
                            [resource]="resourceDetails.resource"
                            [hideAddNewNote]=false
                            (upsertNote)="upsertNoteHandler($event)"
                            (deleteNotes)="deleteNoteHandler($event)">
                        </app-shared-gantt-notes>
                  </tab>

                  <tab *ngIf="resourceRatings?.length > 0" heading="PD" class="h-100">
                      <app-resource-ratings
                          [resource]="resourceDetails.resource"
                          [ratings]="resourceRatings"
                          class="h-100"
                      >
                      </app-resource-ratings>
                  </tab>

                  <tab heading="Audit Log" (selectTab)="getAuditTrailForEmployee()">
                      <div
                          class="audit-log"
                          infiniteScroll
                          [infiniteScrollDistance]="scrollDistance"
                          [scrollWindow]="false"
                          (scrolled)="onAuditLogScrolled()"
                      >
                          <div
                              class="empty-table-message"
                              *ngIf="!resourceDetails.auditTrails?.length && !logLoading"
                          >
                              {{ emptyLogMessage }}
                          </div>

                          <table
                              id="tblResourceAuditTrail"
                              class="table table-striped h-100"
                              *ngIf="resourceDetails.auditTrails?.length"
                          >
                              <thead class="thead-light">
                                  <tr>
                                      <th>Event</th>
                                      <th>Old</th>
                                      <th>New</th>
                                      <th>Modified By</th>
                                      <th>Date</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let history of resourceDetails.auditTrails">
                                      <td>{{ history.eventDescription }}</td>
                                      <td>{{ history.old }}</td>
                                      <td>{{ history.new }}</td>
                                      <td>{{ history.updatedBy }}</td>
                                      <td class="no-wrap">{{ history.date | date : "dd-MMM-yyyy h:mm:ss a" }}</td>
                                  </tr>
                              </tbody>
                          </table>

                          <div class="empty-table-message" *ngIf="logLoading">Loading...</div>
                      </div>
                  </tab>
              </tabset>
          </div>
      </div>
  </div>
</div>
<!-- END COMPONENT: USER DETAILS -->
