<div class="saved-group-modal">
  <!-- Header -->
  <div class="modal-header">
    <h5 class="modal-title">{{ modalTitle }}</h5>

    <button class="modal-close" (click)="modalRef.hide()">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <!-- Body -->
  <div class="modal-body">
    <!-- Group... -->
    <!-- Create new group | Page 1 - Basic Form -->
    <form class="page-one" *ngIf="!onSecondPage">
      <!-- ..error messages -->
      <div class="error-messages" *ngIf="errorMessage.length">
        <p *ngFor="let error of errorMessage">{{ error }}</p>
      </div>

      <!-- ..name -->
      <input class="group-name-input" type="search" autocomplete="off" placeholder="Group name" required
        name="groupName" [(ngModel)]="resourceFilterGroup.title"
        [class.error]="!isPageOneValid && !resourceFilterGroup.title">

      <!-- ..description -->
      <input class="group-description-input" type="search" autocomplete="off" placeholder="Group description"
        name="groupDescription" [(ngModel)]="savedGroup.description">

      <!-- ..isDefault -->
      <div class="default-checkbox-wrapper">
        <label class="container">
          Make this list view my default resource view
          <input type="checkbox" name="useAsDefault" [(ngModel)]="resourceFilterGroup.isDefault" />
          <span class="checkmark"></span>
        </label>
      </div>

      <!-- ..sharing -->
      <!-- <div class="sharing-wrapper mt-3">
        <p>Sharing</p>

        <div class="sharing-container">
          <app-resource-basic-menu [size]="'medium'" [placeholder]="'Private'" [menuOptions]="sharingMenuOptions"
            [selectedValue]="savedGroup.sharingOption"
            (optionSelectedEmitter)="onSharingSelectionHandler($event)"></app-resource-basic-menu>

          <app-resources-typeahead [clearSearchOnSelect]="true" (onSearchItemSelect)="onSearchItemSelectHandler($event)"
            *ngIf="showSpecificUserSearch">
          </app-resources-typeahead>
        </div>

        <div class="added-members-list" *ngIf="savedGroup.sharedMembers?.length">
          <ng-container *ngFor="let member of savedGroup.sharedMembers; let i = index">
            <app-group-member [groupMember]="member"
              (deleteMemberFromGroupEmitter)="deleteMemberFromGroupHandler(member)"></app-group-member>
          </ng-container>
        </div>
      </div> -->
    </form>

    <!-- Create new group | Page 2 - Staffing Settings, Filters, Sorting -->
    <ng-container *ngIf="onSecondPage">
      <!-- <app-supply-settings #savedGroupSupplySetting [showInComponent]="false"
        [loggedInUserHomeOffice]="loggedInUserHomeOffice" [userPreferences]="userPreferences"></app-supply-settings> -->

      <!-- Temporarily using this for saved resource filters -->
      <app-saved-resource-filters #savedGroupFilterSettings [resourceFilterGroup]="groupToEdit"
        [isEditMode]="isEditMode"></app-saved-resource-filters>

      <!-- Filter By -->
      <!-- <div class="dropdown-divider"></div>
      <app-filter-by #savedGroupFilterBy [rowsToEdit]="savedGroup.filterRows" [menuPosition]="'up'"></app-filter-by> -->

      <!-- Sort By -->
      <div class="dropdown-divider"></div>
      <app-sort-by #savedGroupSortBy [rowsToEdit]="savedGroup.sortRows" [menuPosition]="'up'"></app-sort-by>
    </ng-container>
  </div>

  <!-- Footer -->
  <div class="modal-footer">
    <!-- ..back -->
    <button class="btn tertiary" *ngIf="onSecondPage" (click)="onSecondPage = !onSecondPage">
      <i class="fas fa-chevron-left"></i>
      <span>Back</span>
    </button>

    <!-- ..discard & close -->
    <button class="btn secondary" (click)="modalRef.hide()" *ngIf="onSecondPage">Discard & Close</button>

    <!-- ..save | save new group -->
    <button class="btn primary" *ngIf="onSecondPage && !isEditMode" (click)="upsertFiltersForLoggedInEmployee()">Save
      New Group</button>
    <button class="btn primary" *ngIf="onSecondPage && isEditMode"
      (click)="upsertFiltersForLoggedInEmployee(false)">Save</button>

    <button class="btn secondary" (click)="nextPage()" *ngIf="!onSecondPage">Next</button>
  </div>
</div>
