// Utilization Area
.utilization-area {
  height: 100%;

  // Percent Area
  .percent-area {
    background-color: #fff;
    border-bottom: 1px solid #c2c9d1;
    box-sizing: border-box;
    height: 18px;
    margin-bottom: 4px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    z-index: -1;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    // Day
    .day {
      background-color: rgba(224, 228, 232, 0.5);
      border-left: 1px solid #c2c9d1;
      box-sizing: border-box;
      height: 100%;
      width: 32px;

      span {
        color: #616568;
        font-family: "Graphik";
        font-size: 10px;
        font-weight: 500;
        height: 12px;
        line-height: 16px;
      }
    }
  }

  // Threshold Area
  .threshold-area {
    margin-bottom: 4px;
    position: absolute;
    top: 0px;
    z-index: -1;
  }

  // Utilization Rows
  .utilization-rows {
    display: inline-flex;
    flex-direction: column;
    height: calc(100% - 22px);
    position: relative;
    width: 100%;

    &.collapsed {
      flex-direction: row;
    }

    // Row
    .utilization-row {
      cursor: pointer;
      // height: 24px;
      margin-bottom: 4px;
      min-height: 24px;
      position: relative;
      z-index: 2;

      // &:last-of-type {
      //   height: 100%;
      // }
    }
  }
}
