<ng-container>
  <app-sidebar-filter [resourceLength]="resourceLength" [levelGrades]="levelGrades"
    [staffingTagsHierarchy]="staffingTagsHierarchy" [officeHierarchy]="officeHierarchy" [clearSearch]="clearSearch"
    (getResources)="getResourcesHandler($event)" [practiceAreas]="practiceAreas"
    [positionsHierarchy]="positionsHierarchy"
    (getResourcesIncludingTerminatedBySearchString)="getResourcesIncludingTerminatedBySearchStringHandler($event)"
    (getResourcesSortAndGroupBySelectedValuesEmitter)="getResourcesSortAndGroupBySelectedValuesHandler($event)"
    (getResourcesAvailabilityBySelectedValuesEmitter)="getResourcesAvailabilityBySelectedValuesHandler($event)"
    (openQuickAddForm)="openQuickAddFormHandler($event)"></app-sidebar-filter>

  <section class="sidebar-area" (contextmenu)="openContextMenu($event)">
    <!-- STAFF GROUP-->
    <div *ngFor="let resourceGroup of resourceGroups; let i = index" class="staff-group">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" *ngIf="resourceGroup.resources.length > 0" cdkDropList
          [cdkDropListData]="resourceGroup.resources" (cdkDropListDropped)="onResourceDrop($event)">
          <mat-expansion-panel-header>
            <header class="ml-0">{{resourceGroup.groupTitle}}</header>
            &nbsp;
            <i class="fas fa-info-circle info-icon-pad"
              title="Press Control Key + Left Click to Select/Deselect Resource(s)"></i>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-resourceview class="list-group" id="{{'supplyAppResourceView_' + i + '_'+ j}}"
              *ngFor="let resource of resourceGroup.resources; let j = index" [resource]="resource"
              (openResourceDetailsDialog)="openResourceDetailsDialogHandler($event)"
              (resourceSelectedEmitter)="resourceSelectedEmitterHandler($event)" cdkDrag>
            </app-resourceview>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!-- END STAFF GROUP-->
  </section>
  <app-context-menu *ngIf="showContextMenu" [contextMenuOptions]="contextMenuOptions"
    [xCordinateValue]="xCordinateForContextMenu" [yCordinateValue]="yCordinateForContextMenu"
    (menuOptionClicked)="contextMenuOptionClickHandler($event)"></app-context-menu>
</ng-container>
