<div class="create-group-form">
    <h3 class="create-group-header">{{ pageHeader }} - {{group.name}}</h3>

    <div class="error-message" *ngIf="errorMessage.length">
        <span *ngFor="let error of errorMessage">
            {{error}}
        </span>
    </div>
    <!-- Group Details -->
    <div class="create-group-name-desc-wrapper d-flex">     
        <label>{{group.description}}</label>
    </div>

    <!-- Search input -->
    <div class="member-search-wrapper">
        <div class="members">
            <span>
              <p class="member-text">
                Shared With <i class="fa fa-info-circle" title="Deleting yourself from a shared group, will cause the group to be removed from your view"></i>
              </p>   
            </span>
        </div>



        <div class="search-container">
            <app-resources-typeahead 
                [clearSearchOnSelect]="true"
                (onSearchItemSelect)="onSearchItemSelectHandler($event)">
            </app-resources-typeahead>
            <!-- <div class="supply-search d-flex align-items-center">
                <i class="fa fa-search mr-2"></i>
                <input
                    type="text"
                    placeholder="Search by name or e-code"
                    (keyup)="handleSearchRequest($event)"
                />
            </div> -->

            <!-- <div class="members-search-results" *ngIf="searchQuery.length >= 3">
                <ng-container *ngFor="let member of mockMembers">
                    <div
                        class="member d-flex align-items-center justify-content-between"
                        *ngIf="
                            member.name.includes(searchQuery) ||
                            member.code.includes(searchQuery)
                        "
                    >
                        <p>{{ member.name }} ({{ member.code }})</p>
                        <button (click)="addMember(member)">Add</button>
                    </div>
                </ng-container>
            </div> -->
        </div>

        <div class="added-members-list d-flex mt-3" *ngIf="sharedWith?.length">
            <ng-container *ngFor="let member of sharedWith; let i = index">
                <app-group-member
                    [groupMember]="member.sharedWithMemberDetails"
                    (deleteMemberFromGroupEmitter)="deleteMemberFromGroupHandler(member)"
                ></app-group-member>
            </ng-container>
        </div>
    </div>
</div>
