@import "variables";

// Resource & Gantt Row Container
.resource-gantt-row {
  box-sizing: content-box;
  display: flex;
  max-height: 999px;
  transition: all 0.2s ease-in-out;

  .d-none{
    display: none;
  }
  
  td {
    padding: 0px;
  }

  &.collapsed {
    max-height: 50px;
  }
  // Left Side Bar
  .left-side-bar {
    background-color: #fff;
    // border-bottom: 1px solid #c2c9d1;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    left: 0px;
    max-width: 400px;
    min-height: 32px;
    min-width: 400px;
    position: sticky;
    transition: all 0.1s ease-in-out;
    width: 100%;
    z-index: 10;
    // When collapsed
    &.collapsed {
      max-width: 110px;
      min-width: 110px;
      overflow: hidden;
    }
    // When collapsed
    &.expanded {
      max-width: 400px;
      min-width: 400px;
    }
  }
  // Right Side Gantt
  .right-side-gantt {
    //&.collapsed{
    border-bottom: 1px solid #c2c9d1;
    //}
    // overflow: hidden; //data was not showing up for HR users due to this
    padding: 0px;
    position: relative;

    @for $i from 1 through 1000 {
      #members-wrapper-#{$i} {
        min-width: calc(32px * 4);
        width: calc(32px * #{$i});
      }
    }

    // Setting commitment start & end positions
    @for $i from 1 through $resources-max-days {
      &.start-#{$i} {
        left: calc((#{$i} - 1) * #{$resources-day-width});
      }

      &.duration-#{$i} {
        width: calc((#{$i}) * #{$resources-day-width} + 0px);
        max-width: calc((#{$i}) * #{$resources-day-width} + 0px);
      }
    }
    // Group Members
    .group-members-wrapper {
      background-color: #b2e3ff;
      height: 100%;
      padding: 4px 5px;
      width: 100%;

      p {
        font-family: "Graphik";
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
        margin: 0px;

        &.group-label {
          color: #616568;
          margin-right: 4px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &.group-members-length {
          background-color: #616568;
          border-radius: 50rem;
          color: #fff;
          padding: 0px 7px;
        }
      }
    }
    // Grid Lines Container
    .grid-lines {
      display: inline-flex;
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      // Grid Lines for each Day
      .day {
        border-left: 1px solid #c2c9d1;
        box-sizing: border-box;
        min-width: 32px;
        overflow: visible;
        white-space: nowrap;
        width: 32px;
        z-index: -1;

        &.weekend {
          background-color: #f7f9ff;
        }
      }
    }
  }
}
