/* The container */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
  padding: 0px;

  // Sizes
  &.small {
    transform: scale(0.8);
  }

  &.medium {
    transform: scale(1);
  }

  &.large {
    transform: scale(1.4);
  }
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: transparent;
  border: 2px solid #616568;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  border-color: #284ce0;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background: #284ce0;
  border-color: #284ce0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container.full .checkmark:after {
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  bottom: 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Style the checkmark/indicator */
.container.partial .checkmark:after {
  width: 5px;
  height: 2px;
  border: solid white;
  border-width: 0 0px 2px 0;
}