<div class="searchbar">
    <div class="searchbar__input">
      <div class="searchbar__overlay" *ngIf="searchString.length > 2"></div>

      <!-- <div contenteditable="true" (input)="onSearchResources($event)" class="searchbar__input" ></div> -->
      <input id="txtUniversalSearch" [(ngModel)]="searchString" type="text" class="searchbar__input" style="align-items: center;flex-grow: 1;min-width: unset;border: none"
        (ngModelChange)="changesInQuery()" #universalSearchInput>
      <i class="fas fa-search search_icon"></i>
    </div>
    
    <!-- <div class="searchbar__result1" *ngIf="showresult">
   
      <div class="resources__result " *ngIf="selectedResources_list.length > 0">
        
        <div class="user"  *ngFor=" let item of selectedResources_list">
          <div class="user__image">
            <img src="../../../assets/img/user.jpg" alt="User Profile">
          </div>
      
          <div class="user__details">
            <div class="name user__name pl-0 text-center">
              <a title="Alison Grove" href="javascript:void(0);">{{item.name}}</a>
            </div>
            <div class="user__info">
              <div class="user__level">{{item.level}}</div>
              <div class="user__location">{{item.office}}</div>
              <div class="user__allocation">{{item.allocation}}</div>
              <div class="user__date">{{item.date}}</div>
              <div class="user__allocation">{{item.cerifications}}</div>
            </div>
          </div>
          <i class="fa fa-times" style="color: #000;cursor: pointer;" data-type="resource" [attr.data-id]="item.id" (click)="deleteData($event)"></i>
        </div>
      </div>

      <div class="case__result " *ngIf="selectedActiveCase_list.length > 0">
        <div class="case"  style="width: 228px;" *ngFor=" let item of selectedActiveCase_list">
          <div class="case__text">
            {{item.allocation}} - {{item.caseCode}} - {{item.project}} - {{item.name}}
          </div>
          <div class="case__close">
            <i class="fa fa-times" style="cursor: pointer;" data-type="activecase" [attr.data-id]="item.id" (click)="deleteData($event)"></i>
          </div>
        </div>
      </div>
    </div> -->
    
    <div class="searchbar__result" *ngIf="searchString.length > 2" >
      <div class="searchbar__wrapper" >
        <div class="filterRadio">
          <span class="btn_label">I'm looking for : </span> 
          <button class="btn_filter" [ngClass]="{'selected-search':searchInResources == true && searchInCases == false}" (click)="toggleSearch('resources')">Resources</button>
          <button class="btn_filter" [ngClass]="{'selected-search':searchInCases == true && searchInResources == false}" (click)="toggleSearch('cases')">Cases/Opportunites</button>
          <button class="btn_filter" [ngClass]="{'selected-search':searchInCases == true && searchInResources == true}" (click)="toggleSearch('all')">Everything</button>
          <span (click)="closeDialog()" class="close-icon"><i class="fa fa-times clickable"></i></span>
        </div>
      
        <hr/>

        <div class="searchbar__resources">
          <div class="searchbar__resources-list" *ngIf="searchInResources">
            <h3>Resources</h3>
            <!--Searched Resource Result-->
            <span *ngIf="resourceLoader !=''">{{resourceLoader}}</span>
            <div data-type="resource" [attr.data-id]="item.id" *ngFor="let item of resourcesList;">
                <app-search-resource 
                  [searchedResource]="item"
                  (openResourceDetailsDialog)="openResourceDetailsDialogHandler(item)"
                >
                </app-search-resource>
            </div>
          </div>
        </div>
        <div class="searchbar__cases"  *ngIf="searchInCases">
          <!--Searched Case/opp Result-->
          <div class="searchbar__cases-list">
            <h3>Active Cases and Opportunity</h3>
            <span *ngIf="activeCaseLoader !=''">{{activeCaseLoader}}</span>            
            <div  data-type="activecase" [attr.data-id]="item.id" *ngFor="let item of activeCaseList;">
                <app-search-case 
                  [searchedCase]="item"
                  (openProjectDetailsDialog)="openProjectDetailsDialogHandler(item)">    
                </app-search-case>
            </div>
          </div>
        </div>
        <div class="searchbar__cases"  *ngIf="searchInCases">
          <h3>Inactive Cases</h3>
          <span *ngIf="inActiveCaseLoader !=''">{{inActiveCaseLoader}}</span>
          <div class="searchbar__cases-list">
            <div data-type="inactivecase" [attr.data-id]="item.id" *ngFor="let item of inActiveCaseList;">
                <app-search-case 
                  [searchedCase]="item"
                  (openProjectDetailsDialog)="openProjectDetailsDialogHandler(item)">    
                </app-search-case>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>