* {
  margin: 0px;
  padding: 0px;
}

.staffable-teams-wrapper {
  font-family: "Graphik";
  min-height: 250px;
  padding: 20px 30px;

  // Header
  .staffing-teams-header {
    gap: 8px;

    img {
      height: 20px;
    }

    h4 {
      color: #121212;
      font-size: 20px;
      font-weight: 500;
    }

    p {
      color: #616568;
      font-size: 14px;
      font-weight: 500;
    }

    button {
      background: none;
      border: none;
      color: #000;
      font-size: 20px;
      margin-left: auto;
      outline: none;
    }
  }

  // Search...
  // Input
  .search-input-wrapper {
    margin: 20px 0px 10px;
    position: relative;

    i {
      color: #000;
      font-size: 15px;
      position: absolute;

      &.search-icon {
        left: 10px;
      }
    }

    input {
      border: 1px solid #e0e4e8;
      border-radius: 2px;
      box-sizing: border-box;
      color: #121212;
      font-size: 16px;
      font-weight: 400;
      height: 40px;
      outline: none;
      padding: 0px 34px;
      width: 100%;
      transition: all 0.1s ease-in-out;

      &:focus {
        border-color: #284ce0;
        box-shadow: 0px 0px 4px #7597ff;
      }

      &::placeholder {
        color: #616568;
      }
    }

    .clear-button {
      background: none;
      border: none;
      outline: none;
      position: absolute;
      right: 10px;

      i {
        position: relative;
      }
    }

    // Results
    .search-results-wrapper {
      background: #fff;
      border-radius: 4px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
      max-height: 120px;
      overflow: auto;
      position: absolute;
      top: 43px;
      width: 100%;
      z-index: 1;

      button {
        align-items: center;
        background: none;
        border: none;
        color: #121212;
        display: flex;
        font-size: 16px;
        height: 30px;
        padding: 0px 16px;
        transition: all 0.1s ease-in-out;
        width: 100%;

        &:hover {
          background: #f7f9ff;
        }
      }
    }
  }

  // Teams Wrapper
  .teams-wrapper {
    border: 1px solid #e0e4e8;
    box-sizing: content-box;
    max-height: 450px;
    min-height: 450px;
    overflow: auto;

    p {
      color: #616568;
      font-size: 16px;
      font-weight: 400;
      margin-left: 5px;

      &.header {
        font-weight: 500;
        margin-left: 0px;
      }
    }

    // Cell
    .cell-wrapper {
      align-items: center;
      box-sizing: border-box;
      display: grid;
      gap: 12px;
      grid-template-columns: auto 40px 40px 50px;
      height: 40px;

      .total-wrapper {
        align-items: center;
        border-left: 1px solid #e0e4e8;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
      }
    }

    // Header
    .header-wrapper {
      background: #ecf0ff;
      border-bottom: 1px solid #e0e4e8;
      grid-template-columns: 40px 40px 50px;
      height: 30px;
      justify-content: end;
      position: sticky;
      top: 0px;

      p {
        font-size: 10px;
        font-weight: 500;
        margin: 0px;
        text-align: center;
      }
    }

    // Group
    .group-header {
      background: #ecf0ff;
      padding-left: 15px;
    }

    // Country
    .country-header {
      background: #f7f9ff;
      border: solid #e0e4e8;
      border-width: 1px 0px;
      // padding-left: 25px;
    }

    // City
    .city {
      background: #fff;
      // padding-left: 35px;

      input {
        border: 1px solid #e0e4e8;
        color: #616568;
        font-size: 16px;
        height: 23px;
        outline: none;
        padding: 1px 3px;
        width: 40px;
      }

      p.header {
        margin-left: 0px;
        font-weight: normal;
      }
    }
  }

  .modal-footer{
    padding: 0.75rem !important;
  }

  .modal-footer>* {
    margin: 0.25rem !important;
  }
}
