<div class="sidebar-filter-backdrop" (click)="closeFilters()"></div>

<section class="sidebar-area separator filters">
    <tabset #staticTabs>
        <tab heading="Filters" active="true">
            <br />
            <button type="button" class="close btn-close" (click)="closeFilters()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="filters-wrapper">
                <!-- Date Picker -->
                <app-expansion-panel [dropdownTitle]="''">
                    <div id="demandDateRangePicker"
                        class="input-group ml-auto w-auto justify-content-end calendar calendar-dropdown">
                        <div class="input-group-prepend">
                            <button id="btnDateShiftLeft" class="btn btn-secondary" (click)="shiftDateRange('left')">
                                <i class="fa fa-chevron-left fa-fw"></i>
                            </button>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="date-picker-icon" (click)="dp.toggle()">
                                <i class="fa fa-calendar-alt ngx-daterangepicker-action fa-fw" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="text" id="date-range-calendar" name="daterange" readonly
                            [ngModel]="selectedDateRange" (ngModelChange)="getProjectsBySelectedDateRange($event)"
                            class="form-control" #dp="bsDaterangepicker" bsDaterangepicker [bsConfig]="bsConfig">
                        <div class="input-group-append">
                            <button id="btnDateShiftRight" class="btn btn-secondary" (click)="shiftDateRange('right')">
                                <i class="fa fa-chevron-right fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </app-expansion-panel>

                <!-- Offices -->
                <app-expansion-panel [dropdownTitle]="'Offices'">
                    <div class="dropdown mr-3" id="demandOfficeFilter">
                        <app-office-dropdown class="ddl-panel" [title]="'Offices'" [officeHierarchy]="officeHierarchy"
                            [selectedOfficeList]="selectedOfficeList" (refreshView)=getProjectsBySelectedOffice($event)>
                        </app-office-dropdown>
                    </div>
                </app-expansion-panel>

                <!-- Case/Opp Tags -->
                <app-expansion-panel [dropdownTitle]="'Case/Opp Tags'">
                    <div class="dropdown mr-3" id="demandCaseOppTagFilter">
                        <app-multi-select-dropdown [title]="'Case/Opp Tags'" [dropdownList]="staffingTagDropdownList"
                            [selectedItems]="selectedStaffingTagList"
                            (refreshView)="getProjectsBySelectedStaffingTags($event)">
                        </app-multi-select-dropdown>
                    </div>
                </app-expansion-panel>

                <!-- Case Types -->
                <app-expansion-panel [dropdownTitle]="'Case Types'">
                    <div class="dropdown mr-3" id="demandCaseTypeFilter">
                        <app-multi-select-dropdown [title]="'Case Types'" [dropdownList]="caseTypeDropdownList"
                            [selectedItems]="selectedCaseTypeList" (refreshView)=getProjectsBySelectedCaseTypes($event)>
                        </app-multi-select-dropdown>
                    </div>
                </app-expansion-panel>

                <!-- Client Names -->
                <app-expansion-panel [dropdownTitle]="'Client Names'">
                    <div class="dropdown mr-3" id="clientFilter">
                        <ng-select *ngIf="!asyncClientString" name="clients" placeholder="Search clients..."
                        [items]="clientsData$ | async" [multiple]="true" [hideSelected]="true" [minTermLength]="3"
                        (search)="onClientSearchChange($event)" (change)="selectedClientsChange($event)"
                        bindLabel="clientName" bindValue="clientCode" [isOpen]="isClientSearchOpen">
                        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                            <div class="ng-value" *ngFor="let item of items">
                            <span class="ng-value-icon left" (click)="clear(item)" aria-hidden="true">x</span>
                            <span class="ng-value-label">
                                {{item.clientName}}
                            </span>
                            </div>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                            {{item.clientName}}
                        </ng-template>
                        </ng-select>
                    </div>
                </app-expansion-panel>

                <!-- Demand Statuses -->
                <app-expansion-panel [dropdownTitle]="'Demand Status'">
                    <div class="dropdown mr-3" id="demandTypeFilter">
                        <app-multi-select-dropdown [title]="'Demand Status'" [dropdownList]="demandTypeList"
                            [selectedItems]="selectedDemandTypeList" (refreshView)="getProjectsByDemandTypes($event)">
                        </app-multi-select-dropdown>
                    </div>
                </app-expansion-panel>

                <!-- Opportunity Statuses -->
                <app-expansion-panel [dropdownTitle]="'Opportunity Statuses'">
                    <div class="dropdown mr-3" id="demandOpportunityStatusTypeFilter">
                        <app-multi-select-dropdown [title]="'Opp Status Types'"
                            [dropdownList]="opportunityStatusTypeDropdownList"
                            [selectedItems]="selectedOpportunityStatusTypeList"
                            (refreshView)="getProjectsBySelectedOppStatusTypes($event)">
                        </app-multi-select-dropdown>
                    </div>
                </app-expansion-panel>

                <!-- Opportunity Slider -->
                <app-expansion-panel *ngIf="isMinOppProbabilityFilterShown"
                    [dropdownTitle]="'Min Opportunity Probability'">
                    <div class="dropdown mr-3" id="demandOppProbabilityFilter">
                        <shared-slide-bar [selectedValue]="minOpportunityProbability"
                            (valueChanged)="getOpportunitiesByMinProbability($event)">
                        </shared-slide-bar>
                    </div>
                </app-expansion-panel>

                <!-- Industry Practice Area -->
                <app-expansion-panel [dropdownTitle]="'Industry Practice Area'">
                    <div class="dropdown mr-3" id="demandIndustryPracticeAreaFilter">
                        <app-multi-select-dropdown [title]="'Industry Practice Area'"
                            [dropdownList]="industryPracticeAreaDropdownList"
                            [selectedItems]="selectedIndustryPracticeAreaList"
                            (refreshView)="getProjectsByIndustryPracticeAreas($event)">
                        </app-multi-select-dropdown>
                    </div>
                </app-expansion-panel>

                <!-- Capability Practice Area -->
                <app-expansion-panel [dropdownTitle]="'Capability Practice Area'">
                    <div class="dropdown mr-3" id="demandCapabilityPracticeAreaFilter">
                        <app-multi-select-dropdown [title]="'Capability Practice Area'"
                            [dropdownList]="capabilityPracticeAreaDropdownList"
                            [selectedItems]="selectedCapabilityPracticeAreaList"
                            (refreshView)="getProjectsByCapabilityPracticeAreas($event)">
                        </app-multi-select-dropdown>
                    </div>
                </app-expansion-panel>
            </div>
        </tab>
    </tabset>
</section>
