<div class="project-wrapper">
    <div
        class="commitment-wrapper"
        [ngStyle]="{ 'left.px': offsetLeft }"
        [ngClass]="className ? className : 'start-1 duration-1'"
        title="{{ projectDetails.projectName }}">
        <div
            class="case-row"
            #leftGanttData
            (mouseenter)="projectMouseEnter()"
            (mouseleave)="projectMouseLeave()">
            <button
                class="project-header"
                (click)="!planningCard ? openCaseDetailsDialogHandler() : ''">
                {{ projectDetails.projectName }}
            </button>

            <!--Component Slide Out Actions-->
            <div
                class="action-icons"
                *appFeaturesAccess="accessibleFeatures.caseActionsPanel">
                <span id="cases-actions">
                    <app-project-action-panel
                        [allowPin]="false"
                        [allowHide]="false"
                        [showplaceholder]="true"
                        [showQuickPeek]="true"
                        [showCaseRoll]="casesGanttData && casesGanttData?.oldCaseCode"
                        [emailTo]="activeResourcesEmailAddresses"
                        [iconSizes]="'small'"
                        (caseRollEmitter)="onCaseRollHandler($event)"
                        (openQuickPeekIntoReosurcesCommitments)="quickPeekIntoResourcesCommitmentsHandler()"
                        (addPlaceHolderEmitter)="addPlaceholder($event)"></app-project-action-panel>
                </span>
            </div>
        </div>
    </div>
</div>
