<ng-container *ngIf="treeViewType === treeviewDropdownType.DROPDOWN_TREE_VIEW">
  <ngx-dropdown-treeview
    [buttonClass]="'btn-outline-secondary'" 
    [config]="dropdownSettings"  
    [items]="items" 
    (selectedChange)="onSelectChange($event)"
    (filterChange)="onFilterChange($event)"
    #treeViewDropDown>
  </ngx-dropdown-treeview>
</ng-container>

<ng-container *ngIf="treeViewType === treeviewDropdownType.TREE_VIEW">
  <ngx-treeview 
    [config]="dropdownSettings" 
    [items]="items" 
    (selectedChange)="onSelectChange($event)"
    (filterChange)="onFilterChange($event)"
    #treeViewDropDown>
  </ngx-treeview>
</ng-container>


