<!-- <div id="teams" [ngClass]="{'active': showOverlay}">
  <div class="row teamlogo" id="title">
    <div class="col-8 mt-22 ml-3">
      <h3>{{pageHeader}}</h3>
    </div>
    <div class="ml-auto pr-3 mt-22">
      <span><i class="fa fa-times fa-2x clickable delete" (click)="closeTeams();"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-12">
          <div class="project newteam shadow-sm mb-5 bg-white rounded">
            <section>
              <header>
                <div class="teams-container-header">
                  <div class="row no-gutters">
                    <div class="col-10 pt-1">

                      <h5 contentEditable="true">Type Team Name</h5>
                    </div>
                    <div class="col-2 text-right">
                      <span>Office</span>
                    </div>
                  </div>
                </div>
              </header>
              <div class="body-content ml-2 mr-2">
                <div class="list-group-item">
                  <div class="row no-gutters">
                    <div class="col-4 name">
                      <i class="fas fa-exclamation-triangle warning"></i>
                      <a href="javascript:void(0);">Brown, Mike</a></div>
                    <div class="col-1 code">M9</div>
                    <div class="col-1 office">HOU</div>
                    <div class="col-1 allocation">100%</div>
                    <div class="col-2 date">01-Jun</div>
                    <div class="col-2 date">01-Sep</div>
                    <div class="col-1"><i class="fa fa-times clickable delete"></i></div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row no-gutters">
                    <div class="col-4 name"><i class="fas fa-exclamation-triangle warning"
                        title="Alert: Vacation starts in 2 Days"></i>
                      <a href="javascript:void(0);">Brown, Mike</a></div>
                    <div class="col-1 code">M9</div>
                    <div class="col-1 office">HOU</div>
                    <div class="col-1 allocation">100%</div>
                    <div class="col-2 date">01-Jun</div>
                    <div class="col-2 date">01-Sep</div>
                    <div class="col-1"><i class="fa fa-times clickable delete"></i></div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="project notes-content shadow-sm bg-white rounded">
            <section>
              <header>
                <div class="notes-header">
                  <div class="row no-gutters">
                    <div class="col-10 ">
                      <header>Notes</header>
                    </div>
                    <div class="col-2 text-right">
                      <button type="button" class="btn">Add Notes</button>
                    </div>
                  </div>
                </div>
              </header>
              <div>
                <div class="body-content" style="height:75px;">

                </div>
                <div class="notes-btn">
                  <button type="button" class="btn btn-tertiary btn-sm ml-auto mr-2">Save</button>
                  <button type="button" class="btn btn-tertiary btn-sm ml-auto mr-2">Cancel</button>
                </div>
              </div>

            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="project side-content shadow-sm bg-white rounded">
        <section>
          <mat-tab-group animationDuration="0ms" [disableRipple]="true">
            <mat-tab label="Case History">
              <mat-list>
                <mat-list-item *ngFor="let i of companyhistory; last as last">

                  <h3 matLine> <span input-group-text class="checkboxIcon"><i
                        class="far fa-square"></i></span>{{i.company}}
                    <span class="company-history"> {{i.startdate}} - {{i.enddate}}</span>
                  </h3>

                  <mat-divider *ngIf="!last" [vertical]="true" style="height:22px; width:22px;"></mat-divider>

                </mat-list-item>
              </mat-list>


            </mat-tab>
            <mat-tab label="Team Audit">
              <ng-container>

                <div class="row no-gutters">
                  <div class="col-5">15-Apr-2020</div>
                  <div class="col-7">Team Created</div>
                </div>
                <div class="row no-gutters">
                  <div class="col-5">15-Apr-2020</div>
                  <div class="col-7">Brown,Liz was Added</div>
                </div>
              </ng-container>
            </mat-tab>
          </mat-tab-group>

        </section>
      </div>
    </div>
  </div>
</div> -->
