<!-- Info Icon Modal Component -->
<div class="info-icon-modal">
    <!-- Header -->
    <div class="modal-header">
        <h2><b>Interactions - Employee View</b></h2> 
        <button type="button" class="close" (click)="closeForm()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>      
    </div>
    <div class="modal-body">
        <table>
            <tr>
              <th class="heading">Hover</th>
              <td>Shows availability percentages for cases and shows full text for abbreviations</td>
            </tr>
            <br>
            <tr>
              <th class="heading">Click</th>
              <td>Opens up the modal with case code, start / end date, client / project name, etc</td>
            </tr>
            <br>
            <tr>
              <th class="heading">Double Click</th>
              <td>Performs an action on commitments with allocations - it opens this modal to edit the case assignment. 
                And it is not available on commitments like holidays, vacations or named placeholders </td>
            </tr>
            <br>
            <tr>
              <th class="heading">Double Click Chart Directly</th>
              <td>Performs an action on empty cell - it opens this modal to add any allocation or commitment. </td>
            </tr>
            <br>
            <tr>
              <th class="heading">Right Click</th>
              <td>Only available on case assignments with allocations, it opens a "Split Allocation" context menu </td>
            </tr>
            <br>
            <tr>
              <th class="heading">Commitments</th>   
                <td>
                  <div class="commitments cases">Case/Opp</div><br>
                  <div class="commitments loa">LOA (Planned)</div><br>
                  <div class="commitments vacation">Vacation</div><br>
                  <div class="commitments training">Training</div><br>
                  <div class="commitments recruiting">Recruiting</div><br>
                  <div class="commitments shortTerm">Short term Available</div><br>
                  <div class="commitments notAvailable">Not Available</div><br>
                  <div class="commitments limitedAvailability">Limited Availability</div><br>
                  <div class="commitments downDay">Down Day</div><br>
                  <div class="commitments prePostRevenue">Pre/Post Revenue</div><br>
                  <div class="commitments clientVariable">Client Variable</div><br>
                  <div class="commitments internalPD">Internal PD</div><br>
                </td>
            </tr> 
          </table>
    </div>
</div>