.more-options-menu {
  #button-more-options {
    background: none;
    border: none;
    border-radius: 4px;
    color: #616568;
    font-size: 12px;
    line-height: 14px;
    outline: none;
    padding: 7px 10px;

    &:hover {
      background: #dae5fd;
    }
  }
}
