<!-- Progress Bar-->
<mat-progress-bar mode="indeterminate" color="warn" *ngIf="!isSupplyLoaded || !isDemandLoaded"></mat-progress-bar>

<main>
  <div class="row no-gutters h-100" cdkDropListGroup>
    <!-- Supply Component-->
    <app-sidebar [filteredResourceGroups]="resourceGroups" [searchedResourceGroups]="searchedResourceGroups"
      [resourceLength]="resourceLength" [levelGrades]="levelGrades" [officeHierarchy]="officeHierarchy"
      [staffingTagsHierarchy]="staffingTagsHierarchy" [clearSearch]="clearEmployeeSearch"
      [practiceAreas]="practiceAreas" [positionsHierarchy]="positionsHierarchy"
      (getResources)="getResourcesHandler($event)"
      (openResourceDetailsDialog)="openResourceDetailsDialogHandler($event)"
      (getResourcesIncludingTerminatedBySearchString)="getResourcesIncludingTerminatedBySearchStringHandler($event)"
      (getResourcesSortAndGroupBySelectedValuesEmitter)="getResourcesSortAndGroupBySelectedValuesHandler($event)"
      (getResourcesAvailabilityBySelectedValuesEmitter)="getResourcesAvailabilityBySelectedValuesHandler($event)"
      (openQuickAddForm)="openQuickAddFormHandler($event)" (openAddTeams)="openAddTeamsHandler($event)" id="sidebar"
      (openResourcesCommitmentsDialog)="showResourcesCommitmentsDialog($event)">
    </app-sidebar>

    <!-- Demand Component-->
    <app-stage cdkScrollable [projects]="projects" [caseTypes]="caseTypes" [demandTypes]="demandTypes"
      [officeHierarchy]="officeHierarchy" [staffingTagsHierarchy]="staffingTagsHierarchy" [isStaffedFromSupply] = "demandFilterCriteriaObj.isStaffedFromSupply"
      [highlightedResourcesInPlanningCards]="highlightedResourcesInPlanningCards"
      (getProjectsOnBasicFilterChange)="getProjectsOnBasicFilterChangeHandler($event)"
      (getProjectsOnAdvancedFilterChange)="getProjectsOnAdvancedFilterChangeHandler($event)"
      (upsertResourceAllocationsToProject)="upsertResourceAllocationsToProjectHandler($event)"
      (openResourceDetailsDialog)="openResourceDetailsDialogHandler($event)"
      (openProjectDetailsDialog)="openProjectDetailsDialogHandler($event)"
      (showQuickPeekDialog)="showQuickPeekDialogHandler($event)"
      (addProjectToUserExceptionHideListEmitter)="addProjectToUserExceptionHideListHandler($event)"
      (addProjectToUserExceptionShowListEmitter)="addProjectToUserExceptionShowListHandler($event)"
      (removeProjectFromUserExceptionShowListEmitter)="removeProjectFromUserExceptionShowListHandler($event)"
      (openBackFillForm)="openBackFillFormHandler($event)"
      (openOverlappedTeamsForm)="openOverlappedTeamsFormHandler($event)"
      (openCaseRollForm)="openCaseRollFormHandler($event)" (openQuickAddForm)="openQuickAddFormHandler($event)"
      (openPlaceholderForm)="openPlaceholderFormHandler($event)"
      (openProjectDetailsDialogFromTypeahead)="openProjectDetailsDialogFromTypeaheadHandler($event)" id="stage"
      class="col" infiniteScroll [infiniteScrollDistance]="scrollDistance" (scrolled)="onStageScrolled()"
      (removePlaceHolderEmitter)="removePlaceHolderEmitterHandler($event)"
      (upsertPlaceholderEmitter)="upsertPlaceholderHandler($event)" [scrollWindow]="false"
      (getAllocationsSortedBySelectedValueEmitter)="getAllocationsSortedBySelectedValueHandler($event)"
      (addPlanningCardEmitter)="addPlanningCardEmitterHandler($event)" [planningCards]="planningCards"
      (updatePlanningCardEmitter)="updatePlanningCardEmitterHandler($event)"
      (removePlanningCardEmitter)="removePlanningCardEmitterHandler($event)"
      (sharePlanningCardEmitter)="sharePlanningCardEmitterHandler($event)"
      (updateProjectChanges)="updateProjectChangesHandler($event)"
      (deleteNotesOnProject)="deleteNotesOnProjectHandler($event)"
      (updateDemandCardsSortOrderEmitter)="updateDemandCardsSortOrderEmitterHandler($event)"
      (mergePlanningCardAndAllocations)="mergePlanningCardAndAllocationsHandler($event)"
      (openPegRFPopUpEmitter)="openPegRFPopUpHandler($event)">
    </app-stage>

  </div>
  <!-- END COMPONENT: LAYOUT -->
</main>