<div class="resource-filter-wrapper d-flex align-items-center mb-4" id="percentages-row">
  <!-- Search Input -->
  <div class="search-input-wrapper d-flex align-items-center">
    <i *ngIf="!employeeSearchInput.value" class="fa fa-search"></i>
    <i *ngIf="employeeSearchInput.value" class="fa fa-times" (click)="clearSearchBox()"></i>
    <input type="text" class="form-control border-right-0" id="employeeSearchInput" #employeeSearchInput
      autocomplete="off" placeholder="Search resources" />
  </div>

  <!-- Viewing Dropdown Menu -->
  <app-viewing-dropdown-menu *ngIf="displayGroups.length > 0" [viewingOptions]="displayGroups"
    (selectViewEmitter)="selectOption($event)" (createNewEmitter)="handleCreateMoreSelection($event)"
    (editGroupEmitter)="handleEditGroupSelection($event)"></app-viewing-dropdown-menu>

  <ng-container *ngIf="tempActiveGroup.group && tempActiveGroup.type !== staffingSettingsEnum">
    <!-- Group -->
    <button class="btn edit-group-cta" (click)="handleEditGroupSelection(tempActiveGroup, true)">Edit Group</button>

    <!-- Filter | Sort Edits -->
    <app-filter-sort-edit [type]="'sort'" *ngIf="selectedGroupItem && selectedGroupItem.length > 0" [sortRows]="selectedGroupItem"
        (applyChangesEmitter)="applyFilterSortEdits($event)"></app-filter-sort-edit>

    <!-- Filter | Sort Edits -->
    <!-- <app-filter-sort-edit [type]="'filter'" [filterRows]="activeGroup.group.filterRows"
        (applyChangesEmitter)="applyFilterSortEdits($event)"></app-filter-sort-edit> -->

    <!-- More Options Menu -->
    <app-more-options-menu (renameEmitter)="handleEditGroupSelection(tempActiveGroup)"
      (editEmitter)="handleEditGroupSelection(tempActiveGroup)" (deleteEmitter)="deleteGroup()"
      (defaultEmitter)="selectOption(tempActiveGroup)"></app-more-options-menu>
  </ng-container>

  <!-- Sorting Dropdown -->
  <!-- <div class="sorting-dropdown-wrapper">
    <app-sorting-selector-dropdown (getResourcesSortBySelectedValues)="getResourcesSortBySelectedValuesHandler($event)">
    </app-sorting-selector-dropdown>
  </div> -->

  <!-- Filter CTA -->
  <!-- <button class="filter-wrapper d-flex align-items-center justify-content-center" (click)="openFilterSection()">
    <i class="fa fa-filter"></i>
  </button> -->

  <!-- Info CTA -->
  <button *appFeaturesAccess="accessibleFeatures.clickInteractionsInfoIcon"
    class="filter-wrapper d-flex align-items-center justify-content-center" (click)="showInformation($event)">
    <i class="fa fa-info"></i>
  </button>

  <!-- Threshold -->
  <div class="threshold">
    <app-range-slider (updateThresholdRange)="updateThresholdRangeHandler($event)"> </app-range-slider>
  </div>

  <!-- Date Picker -->
  <div class="date-picker-wrapper">
    <div id="resourcesDateRangePicker" class="input-group w-auto justify-content-end calendar calendar-resources">
      <div class="input-group-prepend">
        <button id="btnDateShiftLeft" class="btn btn-secondary" (click)="shiftDateRange('left')">
          <i class="fa fa-chevron-left fa-fw"></i>
        </button>
      </div>
      <div class="input-group-prepend">
        <span class="input-group-text" id="date-picker-icon" (click)="dp.toggle()">
          <i class="fa fa-calendar-alt ngx-daterangepicker-action fa-fw" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" id="date-range-calendar" name="daterange" readonly [ngModel]="selectedDateRange"
        (ngModelChange)="onDateRangeChange($event)" class="form-control" #dp="bsDaterangepicker" bsDaterangepicker
        [bsConfig]="bsConfig" />
      <div class="input-group-append">
        <button id="btnDateShiftRight" class="btn btn-secondary" (click)="shiftDateRange('right')">
          <i class="fa fa-chevron-right fa-fw"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Supply Grouping -->
  <!-- <ng-container *appFeaturesAccess="accessibleFeatures.supplyGroupsDropdown">
    <div class="supply-grouping-wrapper ml-auto" *ngIf="displayGroups.length > 0"><app-custom-dropdown
        dropdownLabel="Displaying:" [menuOptions]="displayGroups"
        (toggleDropdownEmitter)="selectOption($event)"></app-custom-dropdown></div>
  </ng-container> -->

  <!-- Case Code Grouping -->
  <div class="resource-grouping-wrapper">
    <resources-grouping #groupingComponent
      (onToggleEmployeeCaseGroup)="toggleEmployeeCaseGroupHandler($event)"></resources-grouping>
  </div>

  <!-- Add Commitment CTA -->
  <button class="add-commitment-cta d-flex align-items-center" (click)="addResourceCommitment($event)">
    <i class="fa fa-plus mr-2"></i>
    <span>Add Commitment</span>
  </button>
  <!-- Add Commitment CTA -->
  <button id="btnResourcesExport" class="add-commitment-cta ml-auto d-flex align-items-center"
    *ngIf="selectedGroupingOption === eployeeCaseGroupingEnum.RESOURCES" (click)="printPdfHandler()">
    <i class="fa fa-plus mr-2"></i>
    <span>Export</span>
  </button>
</div>
