.calendar-resources {
  max-width: max-content;
}

.resource-filter-wrapper {
  flex-wrap: wrap;
  font-family: "Graphik";
  gap: 10px;
  margin: 0px auto;
  max-width: 2560px;

  // Search Input Wrapper
  .search-input-wrapper {
    background-color: #fefefe;
    border: 1px solid #e0e4e8;
    border-radius: 4px;
    height: 32px;
    width: 200px;

    &:nth-child(2) {
      padding: 0px;
      width: 32px !important;

      i {
        margin: 0px;
      }
    }

    i {
      color: #000;
      font-size: 14px;
      margin: 0px 12px;
    }

    input {
      background-color: transparent;
      border: none;
      color: #000;
      font-size: 12px;
      font-family: "Graphik", sans-serif;
      padding: 0px;

      &::placeholder {
        color: #616568;
        opacity: 1;
      }
    }
  }

  // Edit group CTA
  .edit-group-cta {
    background: none;
    border: 1px solid #e0e4e8;
    border-radius: 4px;
    color: #616568;
    font-family: "Graphik";
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    outline: none;
    padding: 5px 10px;

    &:hover {
      background-color: #dae5fd;
      border-color: #dae5fd;
    }
  }

  // Reset
  .reset-wrapper {
    .btn {
      background: none;
      color: #284ce0;
      font-family: "Graphik";
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      outline: none;
      padding: 0px;
    }
  }

  // Save | Save as New
  .save-as-new-wrapper {
    .btn-group {
      gap: 2px;

      .btn {
        background: #284ce0;
        // border-radius: 4px;
        color: #fff;
        font-family: "Graphik";
        font-size: 12px;
        font-weight: 500;
        height: 32px;
        line-height: 14px;

        &:first-of-type {
          border-radius: 4px 0px 0px 4px;
        }

        &:last-of-type {
          border-radius: 0px 4px 4px 0px;

          &:hover {
            background: #1d3fca;
          }
        }
      }
    }
  }

  // Add Commitment CTA
  .add-commitment-cta {
    align-items: center;
    background-color: transparent;
    border: 1px solid #284ce0;
    border-radius: 4px;
    color: #284ce0;
    display: flex;
    font-weight: 500;
    font-size: 12px;
    gap: 5px;
    height: 32px;
    padding-inline: 20px;
  }
}

// ::ng-deep .calendar-resources-dropdown {
//   &.calendar-align-right {
//     right: 160px !important;
//   }
// }

// Sorting Dropdown
.sorting-dropdown-wrapper {
  z-index: 20;
}

// Filter Icon
.filter-wrapper {
  background: #fefefe;
  border: 1px solid #e0e4e8;
  border-radius: 4px;
  height: 32px;
  padding: 0px;
  width: 32px;

  i {
    color: #000;
    font-size: 14px;
    margin: 0px;
  }
}

// Threshold Wrapper
.threshold {
  width: 200px;
}

// Date Picker Wrapper
.date-picker-wrapper {
  button,
  input {
    background-color: #fff !important;
    border: 1px solid #e0e4e8 !important;
    font-family: "Graphik";
    font-size: 12px !important;
    height: 32px;
  }

  button {
    padding: 0px;
    width: 32px;
  }

  input {
    border-left: none !important;
    min-width: 160px !important;
  }

  .input-group-text {
    background-color: #fff !important;
  }
}
